{% extends '../panelAdministrativoBase.html' %}

{% load static %}

<!-- Título de la página -->
{% block title %}Publicaciones{% endblock title %}

<!-- Título de la pestaña a visualizar -->
{% block tituloPestania%}
<h1>Publicaciones</h1>
<a id="abrirModalPublicacion" href="#" class="botones">Agregar +</a>
{% endblock tituloPestania%}

{% block contenido_administrativo %}
<div class="tabs">
  <div class="tab active" data-target="aceptados">Aceptados</div>
  <div class="tab" data-target="pendientes">Pendientes</div>
</div>

<!-- Contenido de las pestañas -->
<div id="aceptados" class="tab-content active">
    <h3>Eventos Aceptados</h3>
    <br>
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Titulo</th>
                <th>Fecha Publicada</th>
                <th>Autor</th>
                <th>Estatus</th>
                <th colspan="2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for publicacion in publicaciones_aprobados %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ publicacion.titulo_publicacion }}</td>
                <td>{{ publicacion.fecha_creacion_publicacion }}</td>
                <td>{{ publicacion.id_actor.nombre_completo }}</td>
                {% if publicacion.publicacion_aprobada %}
                    <td>Aprobado</td>
                {% else %}
                    <td>Pendiente</td>
                {% endif %}
                <td>
                    <a href="" 
                    class="botonesTablas btnEditar abrirModalEditPublicacion"
                    data-id="{{ publicacion.pk }}"
                    data-autor = "{{ publicacion.id_actor.nombre_completo }}"
                    >Editar</a>
                </td>
                <td>
                    <a href="{% url 'eliminarUbicacion' publicacion.pk %}" 
                    class="botonesTablas btnEliminar">Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="6">No hay Publicaciones disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>


<div id="pendientes" class="tab-content">
    <h3>Eventos Pendientes</h3>
    <br>
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Titulo</th>
                <th>Fecha Publicada</th>
                <th>Autor</th>
                <th>Estatus</th>
                <th colspan="2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for publicacion in publicaciones_no_aprobados %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ publicacion.titulo_publicacion }}</td>
                <td>{{ publicacion.fecha_creacion_publicacion }}</td>
                <td>{{ publicacion.id_actor.nombre_completo }}</td>
                {% if publicacion.publicacion_aprobada %}
                    <td>Aprobado</td>
                {% else %}
                    <td>Pendiente</td>
                {% endif %}
                <td>
                    <a href="" 
                    class="botonesTablas btnEditar abrirModalEditPublicacion"
                    data-id="{{ publicacion.pk }}"
                    data-autor = "{{ publicacion.id_actor.nombre_completo }}"
                    >Editar</a>
                </td>
                <td>
                    <a href="{% url 'eliminarPublicacion' publicacion.pk %}" 
                    class="botonesTablas btnEliminar">Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No hay Publicaciones disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% include 'components/administracion/agregar/addPublicacion.html' %}
{% include 'components/administracion/editar/editPublicacion.html' %}

<script src="{% static 'js/panelAdministracion/addPublicacion.js' %}"></script>

{% endblock contenido_administrativo %}