{% extends '../panelAdministrativoBase.html' %}

{% load static %}

<!-- Título de la página -->
{% block title %}Eventos{% endblock title %}

<!-- Título de la pestaña a visualizar -->
{% block tituloPestania%}
<h1>Eventos</h1>
<a href="#" class="botones">Agregar</a>
{% endblock tituloPestania%}

{% block contenido_administrativo %}
<div class="tabs">
    <div class="tab active" data-target="aceptados">Aceptados</div>
    <div class="tab" data-target="pendientes">Pendientes</div>
  </div>
  
  <!-- Contenido de las pestañas -->
  <div id="aceptados" class="tab-content active">
    <h2>Eventos Aceptados</h2>
    <p>Aquí se mostrarán los eventos aprobados.</p>
  </div>
  <div id="pendientes" class="tab-content">
    <h2>Eventos Pendientes</h2>
    <p>Aquí se mostrarán los eventos pendientes de aprobación.</p>
  </div>
{% endblock contenido_administrativo %}