{% extends '../panelAdministrativoBase.html' %}

{% load static %}

<!-- Título de la página -->
{% block title %}Catalogo Redes Sociales{% endblock title %}

<!-- Título de la pestaña a visualizar -->
{% block tituloPestania%}
<h1>Catalogo Redes Sociales</h1>
<a id="abrirModalRedSocial" href="#" class="botones">Agregar +</a>
{% endblock tituloPestania%}

{% block contenido_administrativo %}

<table>
    <thead>
        <tr>
            <th>No</th>
            <th>Nombre</th>
            <th>Imagen</th>
            <th colspan="2">Acciones</th>
        </tr>
    </thead>

    <tbody>
        {% for redes in RedesSociales %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ redes.nombre_redSocial }}</td>
            <td>
                <img src="{{ redes.logo.url }}" alt="Icono Redes">
            </td>
            <td>
                <a href=""
                class="botonesTablas btnEditar btnAbrirModalEditRedSocial"
                data-id="{{ redes.id }}">Editar</a>
            </td>
            <td>
                <a href="#" 
                class="botonesTablas btnEliminar">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}"><strong>Anterior</strong></a>
    {% endif %}

    <span class="current">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"><strong>Siguiente</strong></a>
    {% endif %}
</div>

{% include 'components/administracion/agregar/addRedesSocial.html' %}
{% include 'components/administracion/editar/editRedesSocial.html' %}

<script src="{% static 'js/panelAdministracion/addRedSocial.js' %}"></script>

{% endblock contenido_administrativo %}