{% extends '../panelAdministrativoBase.html' %}

{% load static %}

<!-- Título de la página -->
{% block title %}Eventos{% endblock title %}

<!-- Título de la pestaña a visualizar -->
{% block tituloPestania%}
<h1>Eventos</h1>
<a href="#" class="botones">Agregar +</a>
{% endblock tituloPestania%}

{% block contenido_administrativo %}
<div class="tabs">
    <div class="tab active" data-target="aceptados">Aceptados</div>
    <div class="tab" data-target="pendientes">Pendientes</div>
  </div>
  
  <!-- Contenido de las pestañas -->
  <div id="aceptados" class="tab-content active">
    <h3>Eventos Aceptados</h3>
    </hr>
    <br>
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Titulo</th>
                <th>Fecha Publicada</th>
                <th>Autor</th>
                <th>Estatus</th>
                <th colspan="2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for evento in eventos_aprobados %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ evento.titulo_publicacion }}</td>
                <td>{{ evento.id_actor.nombre_completo }}</td>
                <td>NO SE SABE</td>
                <td>Aceptado</td> 
                <td>
                    <a href="#"
                    class="botonesTablas btnEditar btnAbrirModalEditEvento"
                    data-id="{{ evento.id }}">Editar</a>
                </td>
                <td>
                    <a href="#" 
                    class="botonesTablas">Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No hay eventos disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

  </div>


  <div id="pendientes" class="tab-content">
    <h3>Eventos Pendientes</h3>
    <br>
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Titulo</th>
                <th>Fecha Publicada</th>
                <th>Autor</th>
                <th>Estatus</th>
                <th colspan="2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for evento in eventos_no_aprobados %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ evento.titulo_publicacion }}</td>
                <td>NO SE SABE</td>
                <td>Pendiente</td>
                <td>{{ evento.id_actor.nombre_completo }}</td>
                <td>
                    <a href="#"
                    class="botonesTablas btnEditar btnAbrirModalEditEvento"
                    data-id="{{ evento.id }}">Editar</a>
                </td>
                <td>
                    <a href="#" 
                    class="botonesTablas">Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No hay eventos disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>


  {% include 'components/administracion/agregar/addEvento.html' %}
  {% include 'components/administracion/editar/editEvento.html' %}

  <script src="{% static 'js/panelAdministracion/addEvento.js' %}"></script>

{% endblock contenido_administrativo %}