{% extends '../panelAdministrativoBase.html' %}

{% load static %}

<!-- Título de la página -->
{% block title %}Publicaciones{% endblock title %}

<!-- Título de la pestaña a visualizar -->
{% block tituloPestania%}
<h1>Publicaciones</h1>
<a href="#" class="botones">Agregar</a>
{% endblock tituloPestania%}

{% block contenido_administrativo %}
<div class="tabs">
  <div class="tab active" data-target="aceptados">Aceptados</div>
  <div class="tab" data-target="pendientes">Pendientes</div>
</div>

<!-- Contenido de las pestañas -->
<div id="aceptados" class="tab-content active">
  <h3>Eventos Aceptados</hr>
  <br>
  <table>
      <thead>
          <tr>
              <th>No</th>
              <th>Titulo</th>
              <th>Fecha Publicada</th>
              <th>Autor</th>
              <th>Estatus</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          {% for publicacion in publicaciones_aprobados %}
          <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ publicacion.titulo_publicacion }}</td>
              <td>NO SE SABE</td>
              <td>Aceptado</td>
              <td>{{ publicacion.id_actor.nombre_completo }}</td>
              <td>
                  <a href="#" class="botones">Editar</a>
                  <a href="#" class="botones">Eliminar</a>
              </td>
          </tr>
          {% empty %}
          <tr>
              <td colspan="6">No hay Publicaciones disponibles.</td>
          </tr>
          {% endfor %}
      </tbody>
  </table>

</div>


<div id="pendientes" class="tab-content">
  <h3>Eventos Pendientes</h3>
  <br>
  <table>
      <thead>
          <tr>
              <th>No</th>
              <th>Titulo</th>
              <th>Fecha Publicada</th>
              <th>Autor</th>
              <th>Estatus</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          {% for publicacion in publicaciones_no_aprobados %}
          <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ publicacion.titulo_publicacion }}</td>
              <td>NO SE SABE</td>
              <td>Pendiente</td>
              <td>{{ publicacion.id_actor.nombre_completo }}</td>
              <td>
                  <a href="#" class="botones">Editar</a>
                  <a href="#" class="botones">Eliminar</a>
              </td>
          </tr>
          {% empty %}
          <tr>
              <td colspan="6">No hay Publicaciones disponibles.</td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
{% endblock contenido_administrativo %}