{% extends '../panelAdministrativoBase.html' %}

{% load static %}

<!-- Título de la página -->
{% block title %}Inicio{% endblock title %}

{% block tituloPestania %}
<h1>Hola administrador, bienvenido 👋</h1>
{% endblock tituloPestania%}

{% block contenido_administrativo %}
<div class="container-cards-administracion">

    <!-- Carta para ver la cantidad de usuarios registrados-->
    <div class="card-admin">
        <div class="card-admin-title">
            <p>Ususarios</p>
            <img src="{% static 'assets/icons/usuario-icon.svg' %}" alt="icono-card-admin-title">
        </div>

        <div class="card-admin-contenido">
            <h6><strong>{{ total_usuarios }}</strong></h6>
        </div>
    </div>

    <!-- Carta para ver la cantidad de Escuelas-->
    <div class="card-admin">
        <div class="card-admin-title">
            <p>Escuelas</p>
            <img src="{% static 'assets/icons/escuelas-icon.svg' %}" alt="icono-card-admin-title">
        </div>

        <div class="card-admin-contenido">
            <h6><strong>{{ total_escuelas }}</strong></h6>
        </div>
    </div>

    <!-- Carta para ver la cantidad de publicaciones-->
    <div class="card-admin">
        <div class="card-admin-title">
            <p>Publicaciones</p>
            <img src="{% static 'assets/icons/publicaciones-icon.svg' %}" alt="icono-card-admin-title">
        </div>

        <div class="card-admin-contenido">
            <h6><strong>{{ total_publicaciones }}</strong></h6>
        </div>
    </div>

    <!-- Carta para ver la cantidad de Eventos-->
    <div class="card-admin">
        <div class="card-admin-title">
            <p>Eventos</p>
            <img src="{% static 'assets/icons/eventos-icon.svg' %}" alt="icono-card-admin-title">
        </div>

        <div class="card-admin-contenido">
            <h6><strong>{{ total_eventos }}</strong></h6>
        </div>
    </div>

    <!-- Carta para ver la cantidad de Ubicaciones de Teatros-->
    <div class="card-admin">
        <div class="card-admin-title">
            <p>Ubicaciones Teatros</p>
            <img src="{% static 'assets/icons/ubicacion-icon.svg' %}" alt="icono-card-admin-title">
        </div>

        <div class="card-admin-contenido">
            <h6><strong>{{ total_ubicaciones }}</strong></h6>
        </div>
    </div>

</div>
{% endblock contenido_administrativo %}