{% extends '../panelAdministrativoBase.html' %}

{% load static %}

<!-- Título de la página -->
{% block title %}Usuarios{% endblock title %}

<!-- Título de la pestaña a visualizar -->
{% block tituloPestania%}
<h1>Usuarios</h1>
<a id="abrirModalAddUsuario" href="#" class="botones">Agregar +</a>
{% endblock tituloPestania%}

{% block contenido_administrativo %}
<table>
    <thead>
        <tr>
            <th>No</th>
            <th>Nombre</th>
            <th>Correo Privado</th>
            <th>Télefono Privado</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        {% for actor in actores %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ actor.nombre_completo }}</td>
            <td>{{ actor.correo_privado_actor }}</td>
            <td>{{ actor.Telefono_privado_actor }}</td>
            {% if actor.tipo_usuario == "administrador" %}
            <td><strong style="color: blue;">Administrador</strong></td>
            {% elif actor.tipo_usuario == "ambos" %}
                <td><strong style="color: green;">Ambos</strong></td>
            {% else %}
                <td>Usuario</td>
            {% endif %}

            <td>
                <a href="#" class="botonesTablas">Editar</a>
                <a href="{% url 'eliminarActor' actor.pk %}" 
                class="botonesTablas btnEliminar">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}"><strong>Anterior</strong></a>
    {% endif %}

    <span class="current">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"><strong>Siguiente</strong></a>
    {% endif %}
</div>


{% include 'components/administracion/agregar/addUsuario.html' %}
{% include 'components/administracion/editar/editUsuario.html' %}

<script src="{% static 'js/panelAdministracion/addUsuario.js' %}"></script>

{% endblock contenido_administrativo %}