<!-- MODAL DE LA VENTANA PARA LOS DATOS -->
<div id="modalUbicacionEdit" class="modal">
    <!-- Contenido del Modal -->
    <div class="modal-content">
        <span class="close clsModUbicacionEdit">&times;</span>
        <h2>Editar Ubicación</h2>
        <form method="POST" action="{% url 'actualizarUbicacion' %}">
            {% csrf_token %}

            <input
            id="ubicacion_id"
            type="hidden"
            class="inputs"
            name="ubicacion_id"
            readonly
            >

            <label for="nombre_ubicacion">
                Nombre de la Ubiación:
                <input 
                id="nombre_ubicacion_edit" 
                class="inputs" 
                type="text" 
                name="nombre_Ubicacion" 
                value="{{ ubicacion.nombre_ubicacion }}" required>
            </label>

            <label for="direccion">
                Dirección:
                <input 
                type="text"
                class="inputs"
                id="direccion_edit"
                name="direccion"
                value="{{ ubicacion.direccion_ubicacion }}"
                required>
            </label>

            <label for="latitud">
                Latitud:
                <input type="text"
                id="latitud_edit"
                class="inputs"
                name="latitud"
                value="{{ ubicacion.latitud }}"
                required>
            </label>

            <label for="longitud">
                Longitud:
                <input type="text"
                id="longitud_edit"
                name="longitud"
                class="inputs"
                value="{{ ubicacion.longitud }}"
                required>
            </label>

            <button type="submit">Editar</button>
            <button id="btnCancelarEditubicacion" type="reset">Cancelar</button>
        </form>
    </div>
</div>