<!-- MODAL DE LA VENTANA PARA LOS DATOS -->
<div id="modalUbicacionEdit" class="modal">
    <!-- Contenido del Modal -->
    <div class="modal-content">
        <span class="close clsModUbicacion">&times;</span>
        <h2>Editar Ubicación</h2>
        <form method="POST" action="#">
            {% csrf_token %}
            <label for="nombre_ubicacion">
                Nombre de la Ubiación:
                <input 
                id="nombre_ubicacion" 
                class="inputs" 
                type="text" 
                name="nombre_Ubicacion" 
                value="{{ ubicacion.nombre_ubicacion }}" required>
            </label>

            <label for="direccion">
                Dirección:
                <input 
                type="text"
                class="inputs"
                id="direccion"
                name="direccion"
                value="{{ ubicacion.direccion_ubicacion }}"
                required>
            </label>

            <label for="latitud">
                Latitud:
                <input type="text"
                id="latitud"
                class="inputs"
                name="latitud"
                value="{{ ubicacion.latitud }}"
                required>
            </label>

            <label for="longitud">
                Longitud:
                <input type="text"
                id="longitud"
                name="longitud"
                class="inputs"
                value="{{ ubicacion.longitud }}"
                required>
            </label>

            <button type="submit">Editar</button>
            <button id="btnCancelar" type="reset">Cancelar</button>
        </form>
    </div>
</div>