<!-- MODAL DE LA VENTANA PARA LOS DATOS -->
<div id="modalEditRedSocial" class="modal">
    <!-- Contenido del Modal -->
    <div class="modal-content">
        <span class="close clsModEditRedSocial">&times;</span>
        <h2>Editar Redes Social</h2>
        <form method="POST" action="{% url 'actualizarRedSocial' %}" enctype="multipart/form-data">
            {% csrf_token %}

            <input
            id="redSocial_id"
            type="hidden"
            class="inputs"
            name="redSocial_id"
            readonly
            required>

            <label for="edit_nombre_redSocial">
                Nombre Rede Social:
                <input 
                id="edit_nombre_redSocial" 
                class="inputs" 
                type="text" 
                name="nombre_redSocial" 
                placeholder="nombre"
                maxlength="20"
                required>
            </label>

            <div id="previewContainer">
                <span><strong>Logo: </strong></s>
                <img id="previewImagenEdit" src="#" alt="Vista previa de la imagen"/>
            </div>
            <br>

            <label for="edit_imagenRedSocial">
                Ingresa la imagen <strong>SVG</strong>:
                <input
                id="edit_imagenRedSocial"
                type="file"
                class="inputs"
                name="imagenRedSocial"
                accept="image/svg+xml"
                >
            </label>

            <button type="submit">Modificar</button>
            <button id="btnCancelarEditRedSocial" type="reset">Cancelar</button>
        </form>
    </div>
</div>