<!-- MODAL DE LA VENTANA PARA LOS DATOS -->
<div id="modalEditPublicacion" class="modal">
    <!-- Contenido del Modal -->
    <div class="modal-content">
        <span class="close clsModalEditPublicacion">&times;</span>
        <h2>Editar Publicación</h2>
        <form method="POST" enctype="multipart/form-data" action="{% url 'crear_publicacion' %}">
            {% csrf_token %}

            <input
            id="publicacion_id"
            type="text"
            class="inputs"
            name="publicacion_id"
            readonly>

            <label for="titulo">
                Titulo de la Publicación:
                <input
                id="titulo"
                class="inputs"
                type="text"
                name="titulo"
                placeholder="Titulo"
                >
            </label>

            <label for="autor_publicacion">
                Autor de Publicación:
                <input
                id="autor_publicacion"
                type="text"
                class="inputs"
                readonly>
            </label>

            <label for="descripcion">
                Descripción:
                <textarea rows="5" cols="30" class="inputs" name="descripcion" id="descripcion"></textarea>
            </label>

            <label for="catagoria">
                Categoria:
                <select name="catagoria" id="listaCatagoriaPublicacion"></select>
            </label>

            <div class="subOpciones">
                <label for="tipoPublicacion">
                    Tipo de Publicación:
                </label>
                <br>
                
                <input
                type="radio"
                id="publicacionPersonal"
                name="tipoPublicacion"
                value="personal"/>
                <label for="tipoPublicacion">Personal</label>

                <input
                type="radio"
                id="publicacionInstituto"
                name="tipoPublicacion"
                value="institucional" />
                <label for="tipoPublicacion">De alguna escuela</label>
            </div>
            <br>

            <div class="institucion-opcional">
                <label for="institucion-opcional">Institución:</label>
                <br>
                <select name="institucion-opcion" id="listarEscuelas" ></select>
            </div>

            <label for="imagenPortada">
                Imagen de Portada:
                <input id="imagenPortada" class="inputs" type="file">
            </label>

            <div class="imagenesExtras">
                <label for="imagenExtra1">
                    Imagenes Extras:
                    <input id="imagenExtra1" class="inputs" type="file">
                    <input id="imagenExtra1" class="inputs" type="file">
                    <input id="imagenExtra1" class="inputs" type="file">
                    <input id="imagenExtra1" class="inputs" type="file">
                </label>
            </div>

            <div class="subOpciones">
                <input
                type="radio"
                id="aprobarPublicacion"
                name="aprobarPublicacion"
                value="aprobado"/>
                <label for="aprobarPublicacion">Aprobar</label>

                <input
                type="radio"
                id="noAprobarPublicacion"
                name="aprobarPublicacion"
                value="false" />
                <label for="noAprobarPublicacion">No Aprobar</label>
            </div>
            
            <br>
            
            <button type="submit">Modificar</button>
            <button id="btnCancelarEditPublicacion" type="reset">Cancelar</button>
        </form>
    </div>
</div>