<!-- MODAL DE LA VENTANA PARA LOS DATOS -->
<div id="modalEditEscuela" class="modal">
    <!-- Contenido del Modal -->
    <div class="modal-content">
        <span class="close clsModEditEscuela">&times;</span>
        <h2>Editar Escuela</h2>
        <form method="POST" enctype="multipart/form-data" action="{% url 'actualizarEscuela' %}">
            {% csrf_token %}
            
            <input
            id="escuela_id"
            type="hidden"
            class="inputs"
            name="escuela_id"
            value="{{ escuela.id }}"
            readonly>
            
            <label for="nombre_escuela_edit">
                Nombre de la Escuela:
                <input 
                id="nombre_escuela_edit" 
                class="inputs"  
                type="text" 
                name="nombre_escuela" 
                placeholder="Nombre ubicación" 
                required>
            </label>

            <label for="direccion_edit_escuela">
                Dirección:
                <input 
                type="text"
                class="inputs"
                id="direccion_edit_escuela"
                name="direccion"
                placeholder="CALLE No ETC.."
                required>
            </label>

            <div class="subOpciones subOpciones2">
                <label for="tipo_escuela">
                    Tipo Escuela:
                </label>
                <br>

                <input
                type="radio"
                id="tipo_escuela_publica_edit"
                name="tipo_escuela"
                value="publica"
                />
                <label for="tipo_escuela_publica_edit">Pública</label>

                <input
                type="radio"
                id="tipo_escuela_privada_edit"
                name="tipo_escuela"
                value="privada" />
                <label for="tipo_escuela_privada_edit">Privada</label>

            </div>
            <br>

            <label for="correo_edit">
                Correo Electrónico:
                <input type="text"
                id="correo_edit"
                class="inputs"
                name="corre"
                required>
            </label>

            <label for="telefono_edit">
                Teléfono:
                <input
                id="telefono_edit" 
                type="text"
                class="inputs"
                name="telefono"
                required>
            </label>

            <label for="hora_atencion_edit">
                Hora de atención:
                <input
                id="hora_atencion_edit" 
                type="text"
                class="inputs"
                name="hora_atencion"
                placeholder="8:00 a.m - 12:00 p.m"
                required>
            </label>

            <label for="responsable_responsable_edit">
                Responsable:
                <input
                id="responsable_escuela_edit"
                type="text"
                class="inputs"
                placeholder="ingrese el nombre del responsable">
            </label>

            <label for="descripcion_escuela_edit">
                Descripción:
                <textarea
                class="inputs"
                name="descripcion"
                id="descripcion_escuela_edit"
                rows="5"
                placeholder="Descripción"
                required></textarea>
            </label>

            <label for="imagen_portada_edit">
                Imagen de Portada:
                <input
                id="imagen_portada_edit"
                type="file"
                class="inputs"
                required>
            </label>

            <p style="text-align: center; font-weight: bold;"> Imagenes Extras:</p>

            <label for="imagenExtra1_edit">
                Imagen extra 1:
                <input
                id="imagenExtra1_edit"
                type="file"
                name="imagenExtra1"
                class="inputs">
            </label>

            <label for="imagenExtra2_edit">
                Imagen extra 2:
                <input
                id="imagenExtra2_edit"
                type="file"
                name="imagenExtra2"
                class="inputs">
            </label>

            <label for="imagenExtra3_edit">
                Imagen extra 3:
                <input
                id="imagenExtra3_edit"
                type="file"
                name="imagenExtra3"
                class="inputs">
            </label>

            <button type="submit">Agregar</button>
            <button id="btnCancelarEditEscuela" type="reset">Cancelar</button>
        </form>
    </div>
</div>