.container-catalago{
    max-width: 1200px;
    min-height: 80vh;
    margin: auto;
}

.container-cards-filtro{
    display: flex;
    justify-content: center;
}

.container-filtro-catalogo{
    flex: 1;
    padding: 20px;
}

.container-cards-catalogo {
    flex: 2;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 290px));
    grid-auto-flow: dense;
    gap: 30px;
    max-height: 100%;
}

/* estilos de las cards del catalogo*/
.card-catalogo{
    border: 1px solid black;
    border-radius: 10px;
    max-height: 400px;
    overflow: hidden;
}

.card-catalogo:hover{
    transform: scale(1.1);
}

.card-catalogo img{
    width: 100%;
    height: 150px;
}


.evento{
    position: relative;
}

.evento_precio, .evento_tag{
    position: absolute;
    padding: 2px 3px;
    border-radius: 8px;

    & p{
        margin-bottom: 0px;
        font-weight: bold;
    }
}

.evento_precio{
    top: 5px;
    right: 5px;
}

.precio-gratis {
    background-color: #b4dea1;
    border: 1px solid #307d24;
}

.precio-paga {
    background-color: #b5a3f5;
    border: 1px solid #0000ae;
}

.evento_tag{
    background-color: #dbd8d8;
    border: 1px solid #000;
    bottom: 10px;
    left: 5px;
    max-width: 90%;
    max-height: 30px;
    overflow: hidden;
}

.evento img{
    height: 160px;
    object-fit: cover;
}

.card-catalogo-contenido{
    padding: 10px 5px;
    text-align: center;
}

.card-catalogo-contenido-boton{
    text-align: right;
}

.pagination{
    text-align: center;
    margin: 10px auto;
}

@media (max-width: 768px){
    .container-cards-filtro{
        flex-direction: column;
        margin: auto 20px;
    }

    .container-filtro-catalogo{
        margin-bottom: 30px;
    }

    .container-filtro-catalogo select{
        width: 100%;
    }

    .filtro-botones{
        text-align: center;
    }
}