* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ESTILO DEL ROOT */
/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4c4c4c;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2f2f2f;
}

/* ESTILOS DE LOS PARRAFOS TITULOS SUBTITULOS*/
.titulo {
    font-size: 2.5em;
    margin-bottom: 15px;
}

/* subparrafo */
.titulo {
    font-size: 2.2em;
    margin-bottom: 15px;
}

/* parrafo */
p{
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #333;
}

a{
    text-decoration: none;
    color: #333;
}

/* ESTILO DE LOS BUTTONS TAGS*/
.buttonTag{
    width: auto;
    padding: 4px 8px;
    border: 1px solid rgb(170, 192, 176);
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.buttonTag:hover{
    background-color: #4E4C4C;
    color: white;
}



/*
.ancho{
    max-width: 1200px;
    margin: auto;
    border: 1px solid black;
}
*/

/* ESTILOS PARA EL MENU DE NAVEGACIÓN*/
.menu{
    position: sticky;
    top: 0;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    background-color: white;
}

.menu-opciones a{
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 15px;
    font-weight: 600;
}

.menu-opciones a:hover{
    font-weight: bolder;
}

/* ESTILO DEL BANNER PRINCIPAL */
.banner-container{
    width: 100%;
    height: 80vh;
    position: relative;

    & img{
        width: 100%;
        height: 100%;
        opacity: 0.6;
        object-fit: cover;
    }
}

.banner-title{
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    text-shadow: 2px 4px 16px rgb(0, 0, 0);

    & h2{
        color: white;
        font-size: 3rem;
    }
}

/* ESTILO DE LAS SECCIONES*/
.secciones{
    max-width: 1300px;
    margin: 50px auto;
}

.secciones2 {
    max-width: 1300px;
    margin: auto;
    padding-bottom: 10px;
}

/* ESTILO DE LA SECCION DONDE SALEN LOS AUTORES */
.container-secciones-autores{
    background-color: rgba(170, 192, 176, 0.5);
    padding: 15px 0px;
}

.subseccion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
}

/* ESTILOS DE LAS CARDS*/
.container-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-flow: dense;
    gap: 30px;
}


.card {
    background-color: #f0f0f0;
    border: 2px solid #4E4C4C;
    border-radius: 15px;
    overflow: hidden;

    & img {
        width: 100%;
        height: 130px;
        object-fit: cover;
    }
}

.card-container{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: center;

    & p{
        font-weight: bold;
        margin-bottom: 5px;
    }
}

.card-button{
    padding-top: 5px;
    text-align: right;
}

/* ESTILOS DEL FOOTER */
footer{
    margin-top: 100px;
    padding: 15px;
    background-color: rgba(170, 192, 176, 0.5);
}

.footer-contenido{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}


.footer-secciones a{
    display: block;
    margin-bottom: 5px;
}

.footer-secciones-social{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {

    .ancho{
        padding: 0px 10px;
    }
}