.footer-exeption{
    margin-top: 0px;
}

.titulo-responsive{
    display: none;
    text-align: center;
    font-weight: bold;
    padding: 10px 0px;
}

.ancho-paneladministracion{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(170, 192, 176, 0.5);
}

.container-administracion{
    display: flex;
}

.administracion-menu{
    flex: 1;
    height: 100%;
}

.administracion-menu-opciones a{
    display: block;
    padding: 8px 16px;
    margin-top: 20px;
}

.administracion-menu-opciones a:hover{
    background-color: #fff;
}

.administracion-menu-opciones img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.administracion-menu-opciones .salirPanel{
    display: block;
    margin-top: 80px;
}

.salirPanel:hover{
    color: black;
}



/* ------------------------- */
/* Estilop para la administracion de informacion */
.administracion-informacion{
    flex: 5;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
    min-height: 90vh;
}

.administracion-informacion-titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}


/* ESTILOS DE INICIO DEL PANEL ADMIN */
.container-cards-administracion{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-auto-flow: dense;
    gap: 30px;
    max-height: 100%;
}

.card-admin{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #1d1b1b;
}

.card-admin-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-admin-title img{
    width: 20px;
    height: 20px;
}

.card-admin-contenido{
    text-align: left;
    font-size: 40px;
}

/* ESTILOS DE LAS TABLAS */
table{
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    text-wrap: pretty;
}

th{
    background-color: #f4f4f4f4;
}

tr:hover{
    background-color: #d4d2d2;
}

.botonesTablas{
    margin: 3px;
    padding: 4px 8px;
    cursor: pointer;
}

.botonesTablas:hover{
    border: 1px solid #3e3e3e;
    background-color: #3e3e3e;
    color: #ddd;
    border-radius: 10px;
}



/* pestañas */
.tabs {
    display: flex;
    cursor: pointer;
    margin-bottom: 1rem;
}

.tab {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid transparent;
}
.tab.active {
    /*font-weight: bold;*/
    border-bottom: 2px solid #006eff;
    color: #006eff;
}
/* Contenido de las pestañas */
.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}

.previewContainer{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.previewContainer img {
    width: 100%;
    height: auto;
    object-fit: contain;
}


  /* RESPONSIVE DATA 
  @media (max-width: 840px) {

    .titulo-responsive{
        display: block;
    }

    .ancho-paneladministracion {
        padding: 0px 10px;
    }

    .administracion-menu{
        display: none;
    }

    .administracion-informacion{
        flex: 1;
        padding-left: 0px;
        padding-right: 0px;
    }

    th, td {
        font-size: small;
    }

}

*/