.footer-exeption{
    margin-top: 0px;
}

body{
    background-color: rgba(170, 192, 176, 0.5);
}

.ancho-paneladministracion{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 90vh;
}

.container-administracion{
    display: flex;
}

.administracion-menu{
    flex: 1;
    border: 1px solid black;
}

.administracion-menu-opciones a{
    display: block;
    padding: 8px 16px;
    margin-top: 20px;
    font-weight: bold;
}

.administracion-menu-opciones a:hover{
    background-color: #fff;
}

.administracion-menu-opciones img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}





/* Estilop para la administracion de informacion */
.administracion-informacion{
    flex: 3;
    padding-left: 10px;
    border: 1px solid red;
    background-color: #fff;
}


/* ESTILOS DE INICIO DEL PANEL ADMIN */
.container-cards-administracion{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-auto-flow: dense;
    gap: 30px;
    max-height: 100%;
}

.card-admin{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #1d1b1b;
}

.card-admin-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    & p{
        font-weight: bold;
    }
}

.card-admin-title img{
    width: 20px;
    height: 20px;
}

.card-admin-contenido{
    text-align: center;
}