.escuela-direcciones{
    max-width: 1200px;
    margin: 20px 0px;
    padding: 0;
}

.container-escuela{
    max-width: 1200px;
    margin: auto;
    display: flex;
}

.escuela-imagen{
    text-align: center;
    flex: 1;
}

/* Estilos para ver las redes sociales de la escuela */
.escuela-imagen-redSocial{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.escuela-imagen-redSocial a img{
    margin: 0px 5px;
    width: 120%;
    height: auto;
}

/* estilo de la imagen de la escuela */
.escuelaImagen {
    width: 100%;
    height: 340px;
    position: relative;
}

.escuelaImagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

/* animación del texto en la imagen */
.escuelaImagen::after {
    content: 'Ver imagen';
    font-weight: bold;
    font-size: 1.5em;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 85%;
    height: 85%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.escuelaImagen:hover::after {
    opacity: 1;
}

.escuela-descripcion{
    padding: 0px 20px;
    flex: 2;
}

.container-informacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .container-escuela, .container-informacion{
        flex-direction: column;
    }

    .escuela-imagen-redSocial a img{
        width: 80%;
        height: auto;
    }

    h1{
        font-size: 1.8em;
    }

    p{
        font-size: 14px;
    }
}