.escuela-direcciones{
    max-width: 1200px;
    margin: 20px 0px;
    padding: 0;
}

.container-escuela{
    max-width: 1200px;
    margin: auto;
    display: flex;
}

.escuela-imagen{
    text-align: center;
    flex: 1;
}

/* Estilos para ver las redes sociales de la escuela */
.escuela-imagen-redSocial{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.escuela-imagen-redSocial a img{
    margin: 0px 5px;
    width: 120%;
    height: auto;
}

.escuela-imagen img{
    width: 100%;
    height: 340px;
    object-fit: cover;
}

.escuela-descripcion{
    padding: 0px 20px;
    flex: 2;
}

.container-informacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .container-escuela, .container-informacion{
        flex-direction: column;
    }

    .escuela-imagen-redSocial a img{
        width: 80%;
        height: auto;
    }

    h1{
        font-size: 1.8em;
    }

    p{
        font-size: 14px;
    }
}