<!-- MODAL DE LA VENTANA PARA LOS DATOS -->
<div id="modalRedSocial" class="modal">
    <!-- Contenido del Modal -->
    <div class="modal-content">
        <span class="close clsModRedSocial">&times;</span>
        <h2>Nueva Rede Social</h2>
        <form method="POST" action="{% url 'agregarRedSocial' %}" enctype="multipart/form-data">
            {% csrf_token %}

            <label for="nombre_redSocial">
                Nombre Rede Social:
                <input 
                id="nombre_redSocial" 
                class="inputs" 
                type="text" 
                name="nombre_redSocial" 
                placeholder="nombre" required>
            </label>

            <div class="previewContainer">
                <span><strong>Logo: </strong></s>
                <br>
                <img id="previewImagen" src="#" alt="Vista previa de la imagen"/>
            </div>
            
            <br>

            <label for="imagenRedSocial">
                Ingresa la imagen <strong>SVG</strong>:
                <input
                id="imagenRedSocialSubir"
                type="file"
                class="inputs"
                name="imagenRedSocial"
                accept="image/svg+xml"
                required>
            </label>

            <button type="submit">Agregar</button>
            <button id="btnCancelarRedSocial" type="reset">Cancelar</button>
        </form>
    </div>
</div>