<!-- MODAL DE LA VENTANA PARA LOS DATOS -->
<div id="modalAddUsuario" class="modal">
    <!-- Contenido del Modal -->
    <div class="modal-content">
        <span class="close clsModUsuario">&times;</span>
        <h2>Nuevo Usuario</h2>

        <form method="POST" action="{% url 'agregarUsuario' %}">
            {% csrf_token %}

            <div class="subOpciones subOpciones2">
                <label for="tipo_usuario">
                    <strong>Tipo Usuario:</strong>
                </label>
                <br>
                <input
                type="radio"
                id="tipo_usuario"
                name="tipo_usuario"
                value="actor"
                />
                <label for="tipo_usuario">Actor</label>

                <input
                type="radio"
                id="tipo_usuario_admin"
                name="tipo_usuario"
                value="administrador" />
                <label for="tipo_usuario_admin">Administrador</label>

                <input
                type="radio"
                id="tipo_usuario_ambos"
                name="tipo_usuario"
                value="ambos" />
                <label for="tipo_usuario_ambos">Ambos</label>
            </div>
            <br>

            <label for="nombre_usuario">
                Nombre Usuario:
                <input 
                id="nombre_usuario"
                class="inputs"
                type="text"
                name="nombre_usuario"
                placeholder="Juan Manuel" required>
            </label>

            <label for="primer_apellido">
                Primer Apellido:
                <input 
                id="primer_apellido"
                type="text"
                class="inputs"
                name="primer_apellido"
                placeholder="Rodriguez"
                required>
            </label>

            <label for="segundo_apellido">
                Segundo Apellido:
                <input 
                id="segundo_apellido"
                type="text"
                class="inputs"
                name="segundo_apellido"
                placeholder="Hernandéz"
                required>
            </label>

            <label for="correo_privado">
                Correo <strong>Privado</strong>:
                <input
                id="correo_privado"
                type="email"
                class="inputs"
                name="correo_privado"
                placeholder="correo@gmail.com"
                required>
            </label>
            
            <label for="telefono_privado">
                Telefono <strong>Privado</strong>:
                <input
                id="telefono_privado"
                type="text"
                class="inputs"
                name="telefono_privado"
                pattern="[0-9]{10}"
                maxlength="10" 
                placeholder="9994552020"
                required>
            </label>

            <label for="contrasenia">
                Contraseña:
                <input
                id="contrasenia"
                type="password"
                class="inputs"
                name="contrasenia"
                placeholder="contraseña"
                required>
            </label>

            <label for="confir_contrasenia">
                Confirma Contraseña:
                <input
                id="confir_contrasenia"
                type="password"
                class="inputs"
                name="confcontrasenia"
                placeholder="contraseña"
                required>
            </label>

            <button type="submit">Agregar</button>
            <button id="btnCancelarAddUsuario" type="reset">Cancelar</button>
        </form>
    </div>
</div>