<!-- MODAL DE LA VENTANA PARA LOS DATOS -->
<div id="modalAddUsuario" class="modal">
    <!-- Contenido del Modal -->
    <div class="modal-content">
        <span class="close clsModUsuario">&times;</span>
        <h2>Nuevo Usuario</h2>

        <form method="POST" action="#">
            {% csrf_token %}
            <label for="nombre_usuario">
                Nombre Usuario:
                <input 
                id="nombre_usuario"
                class="inputs"
                type="text"
                name="Juan Manuel"
                placeholder="Nombres" required>
            </label>

            <label for="primer_apellido">
                Primer Apellido:
                <input 
                id="primer_apellido"
                type="text"
                class="inputs"
                name="primer_apellido"
                placeholder="Rodriguez"
                required>
            </label>

            <label for="segundo_apellido">
                Segundo Apellido:
                <input 
                id="segundo_apellido"
                type="text"
                class="inputs"
                name="segundo_apellido"
                placeholder="Hernandéz"
                required>
            </label>

            <div class="subOpciones subOpciones2">
                <label for="tipo_usuario">
                    Tipo Usuario:
                </label>
                <br>
                <input
                type="radio"
                id="tipo_usuario"
                name="tipo_usuario"
                value="actor"
                />
                <label for="tipo_usuario">Actor</label>

                <input
                type="radio"
                id="tipo_usuario_admin"
                name="tipo_usuario"
                value="administrador" />
                <label for="tipo_usuario_admin">Administrador</label>

                <input
                type="radio"
                id="tipo_usuario_ambos"
                name="tipo_usuario"
                value="Ambos" />
                <label for="tipo_usuario_ambos">Ambos</label>
            </div>

            <div class="dosOpciones">
                <label for="disciplina">
                    Disclipina principal:
                    <select name="disciplina" id="listaDisciplinasUsuario">
                    </select>
                </label>
            
                <label for="subDisciplina">
                    Subdisciplina:
                    <select name="subDisciplina" id="listaSubDisciplinaUsuario">
                    </select>
                </label>
            </div>

            <br>
            <label for="correo_privado">
                Correo Privado:
                <input
                id="correo_privado"
                type="email"
                class="inputs"
                required>
            </label>

            <label for="contrasenia">
                Contraseña:
                <input
                id="contrasenia"
                type="password"
                class="inputs"
                required>
            </label>

            <label for="confir_contrasenia">
                Confirma Contraseña:
                <input
                id="confir_contrasenia"
                type="password"
                class="inputs"
                required>
            </label>

            <button type="submit">Agregar</button>
            <button id="btnCancelarAddUsuario" type="reset">Cancelar</button>
        </form>
    </div>
</div>