{% extends 'CatalogoBase.html' %}

{% load static %}

<!---- Título de la página -->
{% block title %}Actores Catalogo{% endblock title %}

<!---- Título de los catalogos -->
{% block titleContainerCards %}Actores{% endblock titleContainerCards %}

<!---- Contenido de la página -->
{% block content %}
<section class="container-filtro-catalogo">
    <h2>Filtro</h2>
    <form method="GET">
        {{ filter.form.as_p }}  <!-- Genera el dropdown con las subdisciplinas -->
        <button type="submit" class="botones">Aplicar Cambios</button>
        <a href="{% url 'DirectorioActores' %}" class="botones">Restablecer</a>
    </form>
</section>

<section class="container-cards-catalogo">

    {% for actor in Actor %}
    <div class="card-catalogo">
        
        <div class="card-catalogo-imagen">
            {% if actor.url_image_actor %}
                <img loading="lazy" src="{{ actor.url_image_actor.url }}" alt="Imagen de la card">
            {% else %}
                <img loading="lazy" src="{% static 'assets/images/default/imagenPerfil.jpg' %}" alt="Imagen de Perfil del Actor">
            {% endif %}
        </div>

        <div class="card-catalogo-contenido">
            <h3>{{ actor.nombre_completo}}</h3>
            <p class="etiqueta">{{ actor.id_subdisciplina }}</p>
            <div class="card-catalogo-contenido-boton">
                <a href="{% url 'PerfilActor' actor.pk %}" class="buttonTag"> Visitar Perfil </a>
            </div>
        </div>
    </div>
    {% endfor %}

</section>
{% endblock %}