{% extends 'CatalogoBase.html' %}

{% load static %}

<!---- Título de la página -->
{% block title %}Cartelera Catalogo{% endblock title %}

<!---- Título de los catalogos -->
{% block titleContainerCards %}Carteleras{% endblock titleContainerCards %}

<!---- Contenido de la página -->
{% block content %}
<section class="container-filtro-catalogo">
    <h2>Filtro</h2>
    <form method="GET">
        {{ filter.form.as_p }}  <!-- Genera el dropdown con las subdisciplinas -->
        <button type="submit" class="botones">Aplicar Cambios</button>
        <a href="{% url 'carteleraEventos' %}" class="botones">Restablecer</a>
    </form>
</section>

<section class="container-cards-catalogo">

    {% for evento in eventos %}
    <div class="card-catalogo">
        <div class="card-catalogo-imagen evento">
            
            <div class="evento_precio {% if evento.precio_evento > 0 %}precio-paga{% else %}precio-gratis{% endif %}">
                {% if evento.precio_evento > 0 %}
                    <p>PAGA</p>
                {% else %}
                    <p>GRATIS</p>
                {% endif %}
            </div>

            <img
            loading="lazy" 
            src="{{ evento.url_imagen_publicacion.url }}" 
            alt="Imagen de la card">

            <div class="evento_tag">
                <p>{{ evento.id_clasificacion }}</p>
            </div>

        </div>

        <div class="card-catalogo-contenido">
            <h3>{{ evento.titulo_publicacion }}</h3>
            <p class="etiqueta">Espectaculo</p>
            <div class="card-catalogo-contenido-boton">
                <a href="{% url 'PerfilEvento' evento.pk %}" class="buttonTag"> Consultar Evento </a>
            </div>
        </div>
    </div>
    {% empty %}
        <p>no hay eventos</p>
    {% endfor %}
</section>
{% endblock %}