{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Mi página {% endblock title %}</title>

    {% include 'style.html' %}

</head>

<body>
    <div class="ancho">

        <!---- SECCION MENÚ ---->
        {% include 'components/navbar.html' %}

        <main class="container-catalago">
            <h2>Directorio de {% block titleContainerCards%}Titutulo de las cards{% endblock titleContainerCards %}</h2>
            <br>
            <div class="container-cards-filtro">
                {% block content %}
                {% endblock %}
            </div>
        </main>

        <!---- FOOTER DE LA FINALIDAD ---->
        {% include 'components/footer.html' %}
    </div>
</body>

</html>