{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Catálogo Cultural Yucatán</title>

    {% include 'style.html' %}
    {% include 'Librerias.html' %}
    
</head>
<body>
    <div class="ancho">

        <!---- SECCION MENÚ ---->
        {% include 'components/navbar.html' %}

        <!---- SECCION DEL BANNER ---->
        <section class="banner-container">
            <div class="banner-title">
                <h2>Catálogo Cultural</h2>
                <h2>Yucatán</h2>
            </div>
            <img src="{% static 'assets/images/banner.jpg' %}" alt="Banner">
        </section>

        <!---- SECCION DEL TITULO ---->
        <section class="secciones">
            <h1 class="titulo">Catálogo Cultural Del Estado de Yucatán</h1>
            <p>Descubre el talento de Yucatán, conéctate con artistas locales y explora actividades y eventos culturales en cada rincón
            del estado.</p>
        </section>

        <!---- SECCION DONDE SALEN LOS AUTORES ---->
        {% include 'components/seccionActores.html' %}

        <!---- SECCION DONDE SALE LAS PUBLICACIONES Y EL FILTRO ---->
        <main class="secciones container-publicaciones-filtro">
            <!---- SECCION DE LAS PUBLICACIONES ---->
            <div class="container-publicaciones">
                <h2>Publicaciones de esta semana</h2>

                {% include 'components/publicaciones.html' %}

                <div class="paginacion">
                    <div class="bolita">1</div>
                    <div class="bolita">1</div>
                    <div class="bolita">1</div>
                </div>

            </div>

            <!---- SECCION DEL FILTRO ---->
            {% include 'components/filtroIndex.html' %}
        </main>

        <!---- SECCION DE LAS ESCUELAS ---->
        {% include 'components/seccionEscuelas.html' %}

        <!---- FOOTER DE LA FINALIDAD ---->
        {% include 'components/footer.html' %}
    </div>

    <script src="{% static 'js/scriptSlider.js' %}" ></script>
    <script src="{% static 'js/listado.js' %}" ></script>
</body>
</html>
