{% extends 'CatalogoBase.html' %}

{% load static %}

<!---- Título de la página -->
{% block title %}Instituciones Catalogo{% endblock title %}

<!---- Título de los catalogos -->
{% block titleContainerCards %}Instituciones{% endblock titleContainerCards %}

<!---- Contenido de la página -->
{% block content %}
<section class="container-filtro-catalogo">
    <h2>Filtro</h2>
    <form method="GET">
        <!-- El filtro de localidad se renderiza automáticamente con filter.form -->
        {{ filter.form }}  <!-- Esto renderiza todos los filtros, incluido 'localidad' -->
        <button type="submit">Filtrar</button>
        <br>
        <a href="{% url 'DirectorioEscuelas' %}" class="botones">Restablecer</a>
    </form>
</section>

<section class="container-cards-catalogo">

    {% for escuela in Escuelas %}
    <div class="card-catalogo">
        <div class="card-catalogo-imagen">
            <img loading="lazy" src="{{ escuela.url_imagen_escuela.url }}" alt="Imagen de la card">
        </div>
        <div class="card-catalogo-contenido">
            <h3>{{ escuela.nombre_escuela }}</h3>
            <p class="etiqueta">Institucion</p>
            <div class="card-catalogo-contenido-boton">
                <a href="{% url 'PerfilEscuela' escuela.pk %}" class="buttonTag"> Visitar Perfil </a>
            </div>
        </div>
    </div>
    {% endfor %}
</section>

{% endblock %}