{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Mi página {% endblock title %}</title>

    {% include 'style.html' %}

</head>
<body>
    <div class="ancho-paneladministracion">
        <div class="container-administracion">
            <div class="administracion-menu">
                <h1>
                    <a href="{% url 'PanelAdministracion' %}">Panel Administrativo</a>
                </h1>
                <div class="administracion-menu-opciones">
                    <a href="{% url 'PanelAdministracion' %}">
                        <img src="{% static 'assets/icons/inicio-icon.svg' %}" alt="icono-opcion">
                        Inicio
                    </a>

                    <a href="{% url 'PanelAdministracionUsuarios' %}">
                        <img src="{% static 'assets/icons/usuario-icon.svg' %}" alt="icono-opcion">
                        Usuarios
                    </a>

                    <a href="{% url 'PanelAdministracionEscuelas' %}">
                        <img src="{% static 'assets/icons/escuelas-icon.svg' %}" alt="icono-opcion">
                        Escuelas
                    </a>

                    <a href="{% url 'PanelAdministracionPublicaciones' %}">
                        <img src="{% static 'assets/icons/publicaciones-icon.svg' %}" alt="icono-opcion">
                        Publicaciones
                    </a>

                    <a href="{% url 'PanelAdministracionEventos' %}">
                        <img src="{% static 'assets/icons/eventos-icon.svg' %}" alt="icono-opcion">
                        Eventos
                    </a>
                </div>
            </div>
    
            <div class="administracion-informacion">
                <h1>Hola administrador, bienvenido 👋</h1>

                <div class="container-cards-informacion">
                    {% block contenido_administrativo%}
                    {% endblock contenido_administrativo %}
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER DE LA FINALIDAD -->
    {% include 'components/footer.html' %}
</body>
</html>