<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Mi página {% endblock title %}</title>

    {% include 'style.html' %}

</head>
<body>
    <div class="ancho-paneladministracion">
        <div class="container-administracion">
            <div class="administracion-menu">
                <h1>Panel Administrativo</h1>
                <div class="administracion-menu-opciones">
                    <a href="#">
                        <img src="" alt="icono-opcion">
                        Inicio
                    </a>

                    <a href="#">
                        <img src="" alt="icono-opcion">
                        Usuarios
                    </a>

                    <a href="#">
                        <img src="" alt="icono-opcion">
                        Escuelas
                    </a>

                    <a href="#">
                        <img src="" alt="icono-opcion">
                        Publicaciones
                    </a>

                    <a href="#">
                        <img src="" alt="icono-opcion">
                        Eventos
                    </a>
                </div>
            </div>
    
            <div class="administracion-informacion">
                <h1>Hola administrador, bienvenido 👋</h1>

                <div class="container-cards">
                    {% block contenido%}
                    {% endblock contenido %}
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER DE LA FINALIDAD -->
    {% include 'components/footer.html' %}
</body>
</html>