{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Mi página {% endblock title %}</title>

    {% include 'style.html' %}
    <!-- SweetAlert2 CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</head>
<body>
    <div class="ancho-paneladministracion">

        <div class="titulo-responsive">
            <h3 style="text-align: center;">Panel Administrativo</h3>
        </div>

        <div class="container-administracion">
            <div class="administracion-menu">
                <h1>
                    <a href="{% url 'PanelAdministracion' %}">Panel Administrativo</a>
                </h1>
                <div class="administracion-menu-opciones">
                    <a href="{% url 'PanelAdministracion' %}">
                        <img src="{% static 'assets/icons/inicio-icon.svg' %}" alt="icono-opcion">
                        Inicio
                    </a>

                    <a href="{% url 'PanelAdministracionUsuarios' %}">
                        <img src="{% static 'assets/icons/usuario-icon.svg' %}" alt="icono-opcion">
                        Usuarios
                    </a>

                    <a href="{% url 'PanelAdministracionEscuelas' %}">
                        <img src="{% static 'assets/icons/escuelas-icon.svg' %}" alt="icono-opcion">
                        Escuelas
                    </a>

                    <a href="{% url 'PanelAdministracionPublicaciones' %}">
                        <img src="{% static 'assets/icons/publicaciones-icon.svg' %}" alt="icono-opcion">
                        Publicaciones
                    </a>

                    <a href="{% url 'PanelAdministracionEventos' %}">
                        <img src="{% static 'assets/icons/eventos-icon.svg' %}" alt="icono-opcion">
                        Eventos
                    </a>

                    <a href="{% url 'PanelAdministracionUbicaciones' %}">
                        <img src="{% static 'assets/icons/ubicacion-icon.svg' %}" alt="icono-opcion">
                        Ubicaciones Teatros
                    </a>

                    <a href="{% url 'PanelAdministracionMunicipios' %}">
                        <img src="{% static 'assets/icons/ubicacion-icon.svg' %}" alt="icono-opcion">
                        Localidades
                    </a>

                    <a href="{% url 'PanelAdministracionRedesSociales' %}">
                        <img src="{% static 'assets/icons/insta-icon.svg' %}" alt="icono-opcion">
                        Catalogo Redes Sociales
                    </a>

                    <a href="{% url 'index' %}" class="salirPanel botones">
                        SALIR
                    </a>

                    
                </div>

                {% if messages %}
                    {% for message in messages %}
                        <p style="color:red;">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="administracion-informacion">

                <div class="administracion-informacion-titulo">
                    {% block tituloPestania%}{% endblock tituloPestania%}
                </div>

                <div class="container-cards-informacion">
                    {% block contenido_administrativo%}
                    {% endblock contenido_administrativo %}
                </div>
            </div>
        </div>
    </div>

    <script>
        // Manejo de clics en pestañas
        const tabs = document.querySelectorAll('.tab');
        const tabContents = document.querySelectorAll('.tab-content');
      
        tabs.forEach(tab => {
          tab.addEventListener('click', () => {
            // Remover la clase activa de todas las pestañas y contenidos
            tabs.forEach(t => t.classList.remove('active'));
            tabContents.forEach(tc => tc.classList.remove('active'));
      
            // Activar la pestaña y el contenido correspondiente
            tab.classList.add('active');
            document.getElementById(tab.dataset.target).classList.add('active');
          });
        });
    </script>

    <script src="{% static 'js/modalPanelAdministracion.js' %}"></script>

    <!-- FOOTER DE LA FINALIDAD -->
    {% include 'components/footer.html' %}
</body>
</html>