{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Escuela</title>
    {% include 'style.html' %}

</head>
<body>
    <div class="ancho">
        <!---- SECCION MENÚ ---->
        {% include 'components/navbar.html' %}

        <div class="escuela-direcciones">
            <p>Inicio/ViewEscuela</p>
            <p><-- Volver</p>
        </div>

        <!----- SECCION DEL CONTENIDO DE LA ESCUELA ----->
        <main class="container-escuela">
            <div class="escuela-imagen">
                <div class="escuelaImagen">
                    <img src="{% static 'assets/images/Institucion1.jpg' %}" alt="Imagen de la escuela">
                </div>
                <br>
                <h1>Escuela de Artes Visuales de Yucatán</h1>
                <div class="escuela-imagen-redSocial">
                    <a href="#">
                        <img src="{% static 'assets/icons/insta-icon.svg' %}" alt="Logo Instagram">
                    </a>
                    <a href="#">
                        <img src="{% static 'assets/icons/face-icon.svg' %}" alt="Logo Facebook">
                    </a>
                    <a href="#">
                        <img src="{% static 'assets/icons/twitter-icon.svg' %}" alt="Logo Twitter">
                    </a>
                    <a href="#">
                        <img src="{% static 'assets/icons/web-icon.svg' %}" alt="Logo Twitter">
                    </a>
                </div>
            </div>
            
            <div class="escuela-descripcion">
                <div class="descripcion-seccion">
                    <h1>Descripción</h1>
                    <br>
                    <p>La Escuela de Artes Visuales de Yucatán es una institución dedicada a la enseñanza y promoción de las artes plásticas.
                    Con más de 20 años de experiencia, ofrecemos una variedad de programas orientados a desarrollar las habilidades
                    creativas de nuestros estudiantes, desde nivel básico hasta avanzado.</p>
                </div>

                <div class="descripcion-seccion-informacion">
                    <h1>Información General</h1>
                    <br>
                    <div class="container-informacion">
                        <div class="seccion-informacion">
                            <div class="informacion">
                                <p style="font-weight: bold;">Ubicación:</p>
                                <p>Calle 60 No. 123, Centro, Mérida, Yucatán</p>
                            </div>
                            <div class="informacion">
                                <p style="font-weight: bold;">Correo Electrónico:</p>
                                <a href="mailto:contacto@artesyucatan.edu.mx">contacto@artesyucatan.edu.mx</a>
                            </div>
                        </div>
                        
                        <div class="seccion-informacion">
                            <div class="informacion">
                                <p style="font-weight: bold;">Teléfono:</p>
                                <a href="tel:+529991234567">+52 999 123 4567</a>
                            </div>
                            <div class="informacion">
                                <p style="font-weight: bold;">Horario de atención:</p>
                                <p>Lunes a Viernes, 9:00 AM - 6:00 PM</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>
        
        <!-- MODAL PARA SLIDER IMAGENES-->
         <div class="modal-slider" id="modalSliderImagen">
            <span class="close-slider" id="close-slider">&times;</span>
            <div class="modal-content-slider">
                <span class="prev">&lt;</span>

                <img id="modalImagen" src="" alt="Imagen amplia">
                
                <span class="next">&gt;</span>
            </div>
         </div>


        <!----- FOOTER DE LA PÁGINA -->
        {% include 'components/footer.html' %}
        
    </div>

    <script>
        // Lista de las imagenés del slider
            const imagenes = [
                "{% static 'assets/images/Institucion1.jpg' %}",
                "{% static 'assets/images/Institucion2.png' %}",
                "{% static 'assets/images/Institucion3.jpg' %}"
            ];

            let currentIndex = 0;
            const escuelaImagen = document.querySelector('.escuelaImagen img');

            const modal_slider = document.getElementById('modalSliderImagen');
            const modal_imagen = document.getElementById('modalImagen');
            const close_slider = document.getElementById('close-slider');
            const prev = document.querySelector('.prev');
            const next = document.querySelector('.next');

            // Función para mostrar una imagen en el modal
            function showImage(index) {
                modal_imagen.src = imagenes[index];
            }

            escuelaImagen.addEventListener('click', function () {
                modal_slider.style.display = 'flex';
                currentIndex = 0;
                showImage(currentIndex);
            });

            close_slider.addEventListener('click', function () {
                modal_slider.style.display = 'none';
                console.log('click close');
            });

            prev.addEventListener('click', function () {
                currentIndex = (currentIndex > 0) ? currentIndex - 1 : imagenes.length - 1;
                showImage(currentIndex);
            });

            next.addEventListener('click', function () {
                currentIndex = (currentIndex < imagenes.length - 1) ? currentIndex + 1 : 0;
                showImage(currentIndex);
            });

            window.addEventListener('click', function (event) {
                if (event.target === modal_slider) {
                    modal_slider.style.display = 'none';
                }
            });
    </script>

</body>
</html>