{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Escuela</title>
    
    {% include 'style.html' %}

</head>

<body>
    <div class="ancho">
        <!-- SECCION MENÚ -->
        {% include 'components/navbar.html' %}

        <div class="RutaPagina">
            <p>Directorio Actores/ <strong>{{ actor.nombre_completo }}</strong></p>
            <a href="{% url 'DirectorioActores' %}"> &larr; Volver Página</a>
            <div class="fechaPublicacion">
                <p class="fecha">{{ fecha_actual }}</p>
                <hr>
            </div>

            {% if messages %}
                {% for message in messages %}
                    <p style="color:red;">{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <!-- SECCION DEL PERFIL -->
        <main class="container-escuela">
            
            <div class="escuela-imagen">

                <div class="perfil-imagen">
                    {% if actor.url_image_actor %}
                        <img src="{{ actor.url_image_actor.url }}" alt="Imagen de Perfil del Actor">
                    {% else %}
                        <img src="{% static 'assets/images/default/imagenPerfil.jpg' %}" alt="Imagen de Perfil del Actor">
                    {% endif %}
                </div>


                <br>

                <!-- Validacion para saber si es docente -->
                <h1>{{ actor.nombre_completo }}</h1>
                {% if es_docente %}
                    <p>{{ actor.id_subdisciplina }} - Docente</p>
                {% else %}
                    {% if actor.id_subdisciplina != None %}
                        <p>{{ actor.id_subdisciplina }}</p>
                    {% else %}
                        <p>Ninguna</p>
                    {% endif %}
                {% endif %}

                <!-- Validacion para saber si tiene redes sociales -->
                <h2>Redes Sociales</h2>
                <div class="escuela-imagen-redSocial">
                    {% if tiene_redes %}
                        {% for red in redes_sociales %}
                            <a href="{{ red.enlace_redSocial }}" target="_blank">
                                <img src="{{ red.id_redSocial.logo.url }}" alt="{{ red.id_redSocial.nombre_redSocial }}">
                            </a>
                            <a class="quitarRedSocial"  href="{% url 'quitarRedSocial' actor.pk red.id %}">
                                Quitar
                            </a>
                            
                        {% endfor %}
                    {% else %}
                        <p>Ninguna</p>
                    {% endif %}
                </div>
            </div>

            <div class="escuela-descripcion">

                {% if actor.user == request.user %}
                    <a data-id="{{actor.pk}}" id="abrirEditarPerfilModal" href="#" title="Editar Perfil">
                        <img src="{% static 'assets/icons/editar-icon.svg' %}" alt="Editar Perfil icon">
                        Editar Perfil 
                    </a>
                {% endif %}

                <div class="descripcion-seccion">
                    <h1>Biografía</h1>
                    <br>
                    <p>{{ actor.biografia_Actor|linebreaks }}</p>
                </div>

                <div class="descripcion-seccion-informacion">
                    <h1>Información Personal y Contacto</h1>
                    <br>
                    <div class="container-informacion">
                        <div class="seccion-informacion">

                            {% if es_docente %}
                            <div class="informacion">
                                <p style="font-weight: bold;">Docente en:</p>
                                <ul class="listadoEscuelaRegistrados" style="list-style: none;">
                                    {% for escuela in escuelas_asociadas %}
                                        <li>
                                            <a href="{% url 'PerfilEscuela' escuela.pk %}">{{ escuela.nombre_escuela }}</a>

                                            {% if actor.user == request.user %}
                                                <span>
                                                    <a 
                                                    href="{%url 'quitarEscuela' pk=actor.pk pkEscuela=escuela.pk %}"> X </a>
                                                </span>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>

                                {% if actor.user == request.user %}
                                <form action="{% url 'solicitarEscuela' actor.pk %}" method="POST">
                                    {% csrf_token %}
                                    <label for="listaEscuelasRegistradas">
                                        <select name="escuelaSolicitar" id="listaEscuelasRegistradas"></select>
                                        <button type="submit">Solicitar</button>
                                    </label>
                                </form>
                                {% endif %}

                            </div>
                            {% else %}
                            <div class="informacion">
                                <p>No trabaja en niguna escuela</p>

                                {% if actor.user == request.user %}
                                <form action="{% url 'solicitarEscuela' actor.pk %}" method="POST">
                                    {% csrf_token %}
                                    <label for="listaEscuelasRegistradas">
                                        <select name="escuelaSolicitar" id="listaEscuelasRegistradas"></select>
                                        <button type="submit">Solicitar</button>
                                    </label>
                                </form>
                                {% endif %}

                            </div>
                            {% endif %}

                            <br>
                            {% if actor.user == request.user %}
                                <p style="font-weight: bold;">Correo Privado[No visible]:</p>
                                <p>{{ actor.correo_privado_actor }}</p>
                            {% endif %}

                        </div>

                        <div class="seccion-informacion">
                            <div class="informacion">
                                <p style="font-weight: bold;">Teléfono Público:</p>
                                <p>{{ actor.Telefono_publico_Actor }}</p>
                                {% if actor.user == request.user %}
                                <p style="font-weight: bold;">Teléfono Privado[No visible]:</p>
                                <p>{{ actor.Telefono_privado_actor}}</p>
                                {% endif %}
                            </div>
                            <div class="informacion">
                                <p style="font-weight: bold;">Correo Público:</p>
                                <p>{{ actor.correo_publico_Actor }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                {% if actor.user == request.user %}
                    <section class="botones-publicaciones">
                        <a
                        id="abrirModalPublicacion"
                        href="#"
                        class="botones"
                        data-id="{{actor.pk}}">Crear Publicación</a>
                        <a id="abrirModalProyecto" href="#" class="botones">Crear Evento</a>
                    </section>
                {% endif %}

                {% include 'components/modalPublicacion.html' %}
                {% include 'components/modalPublicacionEvento.html' %}
                {% include 'components/modalEditarPerfilActor.html' %}

                <div class="listaPublicaionesAutor">
                    
                    {% include 'components/listaPublicacionesAutor.html' %}
                </div>

            </div>
        </main>
        <!-- FOOTER DE LA PÁGINA -->
         {% include 'components/footer.html' %}
    </div>

    <!-- IMPLEMENTACION DEL SCRIPT PARA ABIRIR EL MODAL -->
    <script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'js/modalProyecto.js' %}"></script>
    <script src="{% static 'js/ediciones/modalEditarPerfil.js' %}" ></script>
    
    <script>
            const listadoEscuela = async () => {
                const response = await fetch('/escuelas/')
                const data = await response.json()

                if(data.message === "Success"){

                    const setListaEscuelas = document.getElementById("listaEscuelasRegistradas");
                    setListaEscuelas.innerHTML = '<option value="0">Selecciona una Escuela</option>';

                    data.escuelas.forEach(escuela => {
                        const option = document.createElement('option');
                        option.value = escuela.id;
                        option.textContent = escuela.nombre_escuela;
                        setListaEscuelas.appendChild(option);
                    })
                }

                console.log("LISTA DE LAS ESCUELA")
                console.log(data)
            }

            document.addEventListener('DOMContentLoaded', async () => {
                await listadoEscuela()
            });
    </script>
    
</body>

</html>