{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Escuela</title>
    
    {% include 'style.html' %}

</head>

<body>
    <div class="ancho">
        <!-- SECCION MENÚ -->
        {% include 'components/navbar.html' %}

        <div class="RutaPagina">
            <p>Directorio Actores/ {{ actor.nombre_completo }}</p>
            <a href="{% url 'DirectorioActores' %}"> &larr; Volver Página</a>
            <div class="fechaPublicacion">
                <p class="fecha">{{ fecha_actual }}</p>
                <hr>
            </div>

            {% if messages %}
                {% for message in messages %}
                    <p style="color:red;">{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <!-- SECCION DEL PERFIL -->
        <main class="container-escuela">
            
            <div class="escuela-imagen">

                <div class="perfil-imagen">
                    {% if actor.url_image_actor %}
                        <img src="{{ actor.url_image_actor.url }}" alt="Imagen de Perfil del Actor">
                    {% else %}
                        <img src="{% static 'assets/images/default/imagenPerfil.jpg' %}" alt="Imagen de Perfil del Actor">
                    {% endif %}
                </div>


                <br>

                <!-- Validacion para saber si es docente -->
                <h1>{{ actor.nombre_completo }}</h1>
                {% if es_docente %}
                    <p>{{ actor.id_subdisciplina }} - Docente</p>
                {% else %}
                    <p>{{ actor.id_subdisciplina }}</p>
                {% endif %}

                <!-- Validacion para saber si tiene redes sociales -->
                <h2>Redes Sociales</h2>
                <div class="escuela-imagen-redSocial">
                    {% if tiene_redes %}
                        {% for red in redes_sociales %}
                            <a href="{{ red.enlace_redSocial }}" target="_blank">
                                <img src="{{ red.id_redSocial.logo.url }}" alt="{{ red.id_redSocial.nombre_redSocial }}">
                            </a>
                        {% endfor %}
                    {% else %}
                        <p>Ninguna</p>
                    {% endif %}
                </div>
            </div>

            <div class="escuela-descripcion">

                {% if actor.user == request.user %}
                    <a data-id="{{actor.pk}}" id="abrirEditarPerfilModal" href="#" title="Editar Perfil">
                        <img src="{% static 'assets/icons/editar-icon.svg' %}" alt="Editar Perfil icon">
                        Editar Perfil 
                    </a>
                {% endif %}

                <div class="descripcion-seccion">
                    <h1>Biografía</h1>
                    <br>
                    <p>{{ actor.biografia_Actor }}</p>
                </div>

                <div class="descripcion-seccion-informacion">
                    <h1>Información Personal y Contacto</h1>
                    <br>
                    <div class="container-informacion">
                        <div class="seccion-informacion">
                            {% if es_docente %}
                            <div class="informacion">
                                <p style="font-weight: bold;">Docente en:</p>
                                <ul style="list-style: none;">
                                    {% for escuela in escuelas_asociadas %}
                                        <li><a href="{% url 'PerfilEscuela' escuela.pk %}">{{ escuela.nombre_escuela }}</a></li>
                                    {% endfor %}
                                </ul>
                                <div class="container-add-escuela">
                                    <strong>Solicitarse Unirse a una Escuela:</strong>
                                    <form method="post" action="">
                                        <label for="listaEscuelas">
                                            <select name="listaEscuelas" id="listaEscuelas">
                                                <option value="0">Seleccione una opcion</option>
                                            </select>
                                            <button type="submit">Solicitar</button>
                                        </label>
                                    </form>
                                    <br>
                                </div>
                            </div>
                            {% else %}
                            <div class="informacion">
                                <p>No trabaja en niguna escuela</p>
                            </div>
                            {% endif %}

                            {% if actor.user == request.user %}
                                <p style="font-weight: bold;">Correo Privado[No visible]:</p>
                                <p>{{ actor.correo_privado_actor }}</p>
                            {% endif %}

                        </div>

                        <div class="seccion-informacion">
                            <div class="informacion">
                                <p style="font-weight: bold;">Teléfono Público:</p>
                                <p>{{ actor.Telefono_publico_Actor }}</p>
                                {% if actor.user == request.user %}
                                <p style="font-weight: bold;">Teléfono Privado[No visible]:</p>
                                <p>{{ actor.Telefono_privado_actor}}</p>
                                {% endif %}
                            </div>
                            <div class="informacion">
                                <p style="font-weight: bold;">Correo Público:</p>
                                <p>{{ actor.correo_publico_Actor }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                {% if actor.user == request.user %}
                    <section class="botones-publicaciones">
                        <a id="abrirModalPublicacion" href="#" class="botones">Crear Publicación</a>
                        <a id="abrirModalProyecto" href="#" class="botones">Crear Evento</a>
                    </section>
                {% endif %}

                {% include 'components/modalPublicacion.html' %}
                {% include 'components/modalPublicacionEvento.html' %}
                {% include 'components/modalEditarPerfilActor.html' %}

            </div>
        </main>

        <!-- FOOTER DE LA PÁGINA -->
         {% include 'components/footer.html' %}
    </div>

    <!-- IMPLEMENTACION DEL SCRIPT PARA ABIRIR EL MODAL -->
    <script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'js/modalProyecto.js' %}"></script>
    <script src="{% static 'js/ediciones/modalEditarPerfil.js' %}" ></script>
    
    
</body>

</html>