{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Escuela</title>
    
    {% include 'style.html' %}

</head>

<body>
    <div class="ancho">
        <!-- SECCION MENÚ -->
        {% include 'components/navbar.html' %}

        <div class="RutaPagina">
            <p>Directorio Actores/Mariá José Pat Chable</p>
            <a href="{% url 'actores' %}"> &larr; Volver Página</a>
            <div class="fechaPublicacion">
                <p class="fecha">{{ fecha_actual }}</p>
                <hr>
            </div>
        </div>

        <!-- SECCION DEL PERFIL -->
        <main class="container-escuela">
            
            <div class="escuela-imagen">
                <div class="perfil-imagen">
                    <img src="{% static 'assets/images/Avatar-img.jpg' %}" alt="Imagen de la escuela">
                </div>
                <br>
                <h1>Mariá José Pat Chable</h1>
                <p>Artes Plasticas - Docencia</p>
                <h2>Redes Sociales</h2>
                <div class="escuela-imagen-redSocial">
                    <a href="#">
                        <img src="{% static 'assets/icons/insta-icon.svg' %}" alt="Logo Instagram">
                    </a>
                    <a href="#">
                        <img src="{% static 'assets/icons/face-icon.svg' %}" alt="Logo Facebook">
                    </a>
                    <a href="#">
                        <img src="{% static 'assets/icons/twitter-icon.svg' %}" alt="Logo Twitter">
                    </a>
                    <a href="#">
                        <img src="{% static 'assets/icons/web-icon.svg' %}" alt="Logo Twitter">
                    </a>
                </div>
            </div>

            <div class="escuela-descripcion">
                <div class="descripcion-seccion">
                    <h1>Biografía</h1>
                    <br>
                    <p>Soy una artista plástica apasionada por crear vibrantes pinturas al óleo que exploran temas de la naturaleza y la identidad cultural. Mi trabajo ha sido exhibido en galerías de renombre tanto en América Latina como en Europa, captando la atención de críticos y coleccionistas. Encuentro mi inspiración en mis raíces indígenas y en la rica biodiversidad de mi país natal, fusionando tradición y modernidad en cada pincelada.</p>
                </div>

                <div class="descripcion-seccion-informacion">
                    <h1>Información Personal y Contacto</h1>
                    <br>
                    <div class="container-informacion">
                        <div class="seccion-informacion">
                            <div class="informacion">
                                <p>Edad:</p>
                                <p>32 años</p>
                            </div>
                            <div class="informacion">
                                <p style="font-weight: bold;">Docente en:</p>
                                <a href="{% url 'viewEscuela' %}">Bellas Artes Yucatán</a><br>
                                <a href="{% url 'viewEscuela' %}">Escuela de Artes del Estado de Yucatán</a>
                            </div>
                        </div>

                        <div class="seccion-informacion">
                            <div class="informacion">
                                <p style="font-weight: bold;">Teléfono:</p>
                                <a href="tel:+529991234567">+52 999 123 4567</a>
                            </div>
                            <div class="informacion">
                                <p style="font-weight: bold;">Correo:</p>
                                <a href="mailto: usuario@gmail.com">Usuario@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="botones-publicaciones">
                    <a id="abrirModal" href="#" class="botones">Crear Publicación</a>
                    <a id="abrirModal" href="#" class="botones">Crear Evento</a>
                </section>

                {% include 'components/modalPublicacion.html' %}

                    </div>
                </div>


            </div>
        </main>

        <!-- FOOTER DE LA PÁGINA -->
         {% include 'components/footer.html' %}
    </div>

    <!----- IMPLEMENTACION DEL SCRIPT PARA ABIRIR EL MODAL -->
    <script src="{% static 'js/modal.js' %}"></script>
</body>

</html>