{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Escuela</title>
    {% include 'style.html' %}

</head>
<body>
    <div class="ancho">
        <!---- SECCION MENÚ ---->
        {% include 'components/navbar.html' %}

        <div class="RutaPagina">
            <p>Escuelas/ {{ Escuela.nombre_escuela }}</p>
            <a style="font-weight: bold;" href="{% url 'DirectorioEscuelas' %}"> &larr; Volver Página</a>
            <div class="fechaPublicacion">
                <p class="fecha">{{ fecha_actual }}</p>
                <hr>
            </div>
        </div>

        <!----- SECCION DEL CONTENIDO DE LA ESCUELA ----->
        <main class="container-escuela">
            <div class="escuela-imagen">
                <div class="escuelaImagen">
                    <img loading="lazy" src="{{ Escuela.url_imagen_escuela.url }}" alt="Imagen de la escuela">
                </div>
                <br>
                <h1>{{ Escuela.nombre_escuela }}</h1>
                <div class="escuela-imagen-redSocial">
                    {% if tiene_redes %}
                        {% for red in redes_sociales %}
                            <a href="{{ red.enlace_redSocial }}" target="_blank">
                                <img src="{{ red.id_redSocial.logo.url }}" alt="{{ red.id_redSocial.nombre_redSocial }}">
                            </a>
                        {% endfor %}
                    {% else %}
                    {% endif %}
                </div>
            </div>
            
            <div class="escuela-descripcion">
                <div class="descripcion-seccion">
                    <h1>Descripción</h1>
                    <br>
                    <p>{{ Escuela.descripcion }}.</p>
                </div>

                <div class="descripcion-seccion-informacion">
                    <h1>Información General</h1>
                    <br>
                    <div class="container-informacion">
                        <div class="seccion-informacion">
                            <div class="informacion">
                                <p style="font-weight: bold;">Ubicación:</p>
                                <p>Calle 55 por 46 y 48 No. 435, Centro, 97000 Mérida, Yuc.</p>
                            </div>
                            <div class="informacion">
                                <br>
                                <p style="font-weight: bold;">Correo Electrónico:</p>
                                <a href="mailto:contacto@artesyucatan.edu.mx">{{ Escuela.correo_escuela }}</a>
                            </div>
                        </div>
                        
                        <div class="seccion-informacion">
                            <div class="informacion">
                                <p style="font-weight: bold;">Teléfono:</p>
                                <a href="tel:+529991234567">{{ Escuela.telefono_escuela }}</a>
                            </div>
                            <div class="informacion">
                                <p style="font-weight: bold;">Horario de atención:</p>
                                <p>{{ Escuela.hora_atencion }}</p>
                            </div>
                            <div class="informacion">
                                <p style="font-weight: bold;">Tipo Escuela:</p>
                                <p>{% if Escuela.tipo_escuela %} Público {% else %} Privado {% endif %}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>
        
        <!-- MODAL PARA SLIDER IMAGENES-->
         <div class="modal-slider" id="modalSliderImagen">
            <span class="close-slider" id="close-slider">&times;</span>
            <div class="modal-content-slider">
                <span class="prev">&lt;</span>

                <img id="modalImagen" src="" alt="Imagen amplia">
                
                <span class="next">&gt;</span>
            </div>
         </div>


        <!----- FOOTER DE LA PÁGINA -->
        {% include 'components/footer.html' %}
        
    </div>

    <script type="text/javascript">
        // Lista de las imagenés del slider
            const imagenes = JSON.parse('{{ imagenes_urls|escapejs }}');

            if (imagenes.length === 0) {
                // Agregar una imagen por defecto si no hay imágenes
                imagenes.push("{% static 'assets/images/default/noFotos.avif' %}");
            }

            let currentIndex = 0;
            const escuelaImagen = document.querySelector('.escuelaImagen img');

            const modal_slider = document.getElementById('modalSliderImagen');
            const modal_imagen = document.getElementById('modalImagen');
            const close_slider = document.getElementById('close-slider');
            const prev = document.querySelector('.prev');
            const next = document.querySelector('.next');

            // Función para mostrar una imagen en el modal
            function showImage(index) {
                modal_imagen.src = imagenes[index];
            }

            escuelaImagen.addEventListener('click', function () {
                modal_slider.style.display = 'flex';
                currentIndex = 0;
                showImage(currentIndex);
            });

            close_slider.addEventListener('click', function () {
                modal_slider.style.display = 'none';
                console.log('click close');
            });

            prev.addEventListener('click', function () {
                currentIndex = (currentIndex > 0) ? currentIndex - 1 : imagenes.length - 1;
                showImage(currentIndex);
            });

            next.addEventListener('click', function () {
                currentIndex = (currentIndex < imagenes.length - 1) ? currentIndex + 1 : 0;
                showImage(currentIndex);
            });

            window.addEventListener('click', function (event) {
                if (event.target === modal_slider) {
                    modal_slider.style.display = 'none';
                }
            });
    </script>

</body>
</html>