{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Evento</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    
    {% include 'style.html' %}

</head>

<body>

    <div class="ancho">
        <!---- SECCION MENÚ ---->
        {% include 'components/navbar.html' %}

        <div class="RutaPagina">
            <p>Cartelera/ <strong>{{ evento.titulo_publicacion }}</strong> </p>
            <a style="font-weight: bold;" href="{% url 'carteleraEventos' %}"> &larr; Volver Página</a>
            <div class="fechaPublicacion">
                <p class="fecha">{{ evento.fecha_creacion_publicacion }}</p>
                <hr>
            </div>
        </div>

        <!----- SECCION DEL CONTENIDO DE LA ESCUELA ----->
        <main class="container-escuela">
            <div class="escuela-imagen">
                <div class="escuelaImagen">

                    <!-- VALIDA SI TIENE IMAGEN EN CASO DE NO TENER COLOCA UNO DE BASE -->
                    {% if evento.url_imagen_publicacion %}
                        <img src="{{ evento.url_imagen_publicacion.url }}" alt="Imagen Publicación">
                    {% else %}
                        <img src="{% static 'assets/images/imgPublicacion1.jpg' %}" alt="Imagen de la escuela">
                    {% endif %}

                </div>
                <br>
                <a href="{% url 'PerfilActor' evento.id_actor.id %}">
                    <div class="card-publicacion-usuario">
                        <h4>Autor </h4>
                        <img src="{{ evento.id_actor.url_image_actor.url }}" alt="Imagen Avatar">
                        <p>{{ evento.id_actor.nombre_completo }}</p>
                    </div>
                </a>
                <br>
                <h3 style="text-align: left;">Etiqueta</h3>
                <br>
                <div class="conainer-tags_publicaciones">
                    <div class="tag">
                        <p>{{ evento.id_disciplina.nombre_disciplina }}</p>
                    </div>
                    <div class="tag">
                        <p>{{ evento.id_clasificacion }}</p>
                    </div>
                </div>
                <div class="detallesEvento">
                    <hr>
                    <h2>Detalles del Evento</h2>
                    {% if evento.precio_evento > 0 %}
                        <p><strong>Evento de : PAGA </strong></p>
                        <p><strong>Precio por persona:</strong> ${{evento.precio_evento}}</p>

                        {% if evento.puntoVenta != "presencial" %}

                            {% if evento.puntoVenta == "ambas"%}
                                <p><strong>Punto Venta:</strong> Presencial - Digital</p>
                            {% else %}
                                <p><strong>Punto Venta:</strong> {{evento.puntoVenta}}</p>
                            {% endif%}
                            <p><strong>Enlace: </strong> <a href="{{ evento.enlace_venta }}"> {{ evento.enlace_venta }}</a></p>
                        {% else %}
                            <p><strong>Punto Venta:</strong> {{evento.puntoVenta}}</p>
                        {% endif %}

                    {% else %}
                        <p><strong>Evento: GRATIS </strong></p>
                    {% endif %}
                    <p><strong>Clasificación:</strong>        {{ evento.id_clasificacion }}</p>
                    <p><strong>Fecha de Inicio:</strong>       {{ evento.fecha_inicio }} </p>
                    <p><strong>Hora de Inicio:</strong>       {{ evento.hora_inicio }} p.m </p>
                    <p><strong>Ubicacion:</strong>            {{ evento.id_ubicacionesComunes }}</p>
                    <p><strong>Direccion:</strong>            {{ evento.id_ubicacionesComunes.direccion_ubicacion }}</p>
                </div>
            </div>

            <div class="escuela-descripcion">
                <div style="text-align: center;" class="descripcion-seccion">
                    <h1>{{ evento.titulo_publicacion }}</h1>
                    <br>
                    <p style="text-align: justify;">{{ evento.descripcion_publicacion }}</p>
                </div>

                <div class="detallesEventoResponsive">
                    <hr>
                    <h2>Detalles del Evento</h2>
                    {% if evento.precio_evento > 0 %}
                        <p><strong>Evento de : PAGA </strong></p>
                        <p><strong>Precio por persona:</strong> ${{evento.precio_evento}}</p>
                        {% if evento.puntoVenta != "presencial" %}
                            <p><strong>Punto Venta:</strong> {{evento.puntoVenta}}</p>
                            <p><strong>Enlace: </strong> <a href="{{ evento.enlace_venta }}"> {{ evento.enlace_venta }}</a></p>
                        {% else %}
                            <p><strong>Punto Venta:</strong> {{evento.puntoVenta}}</p>
                        {% endif %}
                    {% else %}
                        <p><strong>Evento: GRATIS </strong></p>
                    {% endif %}
                    <p><strong>Clasificación:</strong>        {{ evento.id_clasificacion }}</p>
                    <p><strong>Fecha de Inicio:</strong>       {{ evento.fecha_inicio }} </p>
                    <p><strong>Hora de Inicio:</strong>       {{ evento.hora_inicio }} p.m </p>
                    <p><strong>Ubicacion:</strong>            {{ evento.id_ubicacionesComunes }}</p>
                    <p><strong>Direccion:</strong>            {{ evento.id_ubicacionesComunes.direccion_ubicacion }}</p>
                </div>

                <div>
                    <br>
                    <h2 style="text-align: center;" >Ubicacion del Evento</h2>

                    <div id="map"></div>
                    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

                    <script>
                        var nombre = "{{ evento.id_ubicacionesComunes }}"
                        var lat = "{{ evento.id_ubicacionesComunes.latitud }}";
                        var lon = "{{ evento.id_ubicacionesComunes.longitud }}";
                        
                        // Inicializa el mapa centrado en las coordenadas proporcionadas
                        var map = L.map('map', {
                            center: [lat, lon],
                            zoom: 13,
                            minZoom: 14,  // Nivel mínimo de zoom
                            maxZoom: 18   // Nivel máximo de zoom
                        });

                        // Añade el tile layer de OpenStreetMap
                        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                        }).addTo(map);

                        // Añade un marcador en la ubicación deseada
                        L.marker([lat, lon]).addTo(map)
                            .bindPopup(nombre)
                            .openPopup();
                    </script>
                </div>

            </div>
        </main>

        <!-- MODAL PARA SLIDER IMAGENES-->
        <div class="modal-slider" id="modalSliderImagen">
            <span class="close-slider" id="close-slider">&times;</span>
            <div class="modal-content-slider">
                <span class="prev">&lt;</span>

                <img id="modalImagen" src="" alt="Imagen amplia">

                <span class="next">&gt;</span>
            </div>
        </div>

        <br>
        <br><br>
        <!----- FOOTER DE LA PÁGINA -->
        {% include 'components/footer.html' %}

    </div>

    <script>

        // Lista de las imagenés del slider
        const imagenes = [
            "{{ evento.url_imagen_publicacion.url }}"
        ];

        let currentIndex = 0;
        const escuelaImagen = document.querySelector('.escuelaImagen img');

        const modal_slider = document.getElementById('modalSliderImagen');
        const modal_imagen = document.getElementById('modalImagen');
        const close_slider = document.getElementById('close-slider');
        const prev = document.querySelector('.prev');
        const next = document.querySelector('.next');

        // Función para mostrar una imagen en el modal
        function showImage(index) {
            modal_imagen.src = imagenes[index];
        }

        escuelaImagen.addEventListener('click', function () {
            modal_slider.style.display = 'flex';
            currentIndex = 0;
            showImage(currentIndex);
        });

        close_slider.addEventListener('click', function () {
            modal_slider.style.display = 'none';
            console.log('click close');
        });

        prev.addEventListener('click', function () {
            currentIndex = (currentIndex > 0) ? currentIndex - 1 : imagenes.length - 1;
            showImage(currentIndex);
        });

        next.addEventListener('click', function () {
            currentIndex = (currentIndex < imagenes.length - 1) ? currentIndex + 1 : 0;
            showImage(currentIndex);
        });

        window.addEventListener('click', function (event) {
            if (event.target === modal_slider) {
                modal_slider.style.display = 'none';
            }
        });
    </script>

</body>

</html>