{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Publicacion</title>

    {% include 'style.html' %}
    {% include 'Librerias.html' %}
    <link rel="stylesheet" href="{% static 'css/sliderPublicaciones.css' %}">
</head>

<body>

    {% include 'components/swiperImagenesPublicaciones.html' %}

    <div class="ancho">
        <!---- SECCION MENÚ ---->
        {% include 'components/navbar.html' %}

        <div class="RutaPagina">
            <p>Inicio/ {{ publicacion.titulo_publicacion }}</p>
            <a style="font-weight: bold;" href="{% url 'index' %}"> &larr; Volver Página</a>
            <div class="fechaPublicacion">
                <p class="fecha">{{ publicacion.fecha_creacion_publicacion }}</p>
                <hr>
            </div>
        </div>

        <!----- SECCION DEL CONTENIDO DE LA ESCUELA ----->
        <main class="container-escuela">
            {% if publicacion.publicacion_aprobada %}
                <div class="escuela-imagen">
                    <div class="escuelaImagen" id="imagenPortada">
                        
                        <!-- VALIDA SI TIENE IMAGEN EN CASO DE NO TENER COLOCA UNO DE BASE -->
                        {% if publicacion.url_imagen_publicacion %}
                            <img src="{{ publicacion.url_imagen_publicacion.url }}" alt="Imagen Publicación">
                        {% else %}
                            <img src="{% static 'assets/images/imgPublicacion1.jpg' %}" alt="Imagen de la escuela">
                        {% endif %}

                    </div>
                    <br>
                    <a href="{% url 'PerfilActor' publicacion.id_actor.id %}">

                        {% if publicacion.tipo_publicacion %}
                        <div class="card-publicacion-usuario">
                            <h4>Autor: </h4>
                            <!-- VALIDA SI TIENE IMAGEN EN CASO DE NO TENER COLOCA UNO DE BASE -->
                            {% if publicacion.url_imagen_publicacion %}
                                <img src="{{ publicacion.id_actor.url_image_actor.url }}" alt="Imagen Publicación">
                            {% else %}
                                <img src="{% static 'assets/images/AvatarImg.jpg' %}" alt="Imagen Avatar">
                            {% endif %}
                            <p>{{ publicacion.id_actor.nombre_completo }} - </p>
                        </div>
                        <div class="card-publicacion-usuario">
                            <p>{{ publicacion.id_Escuela.nombre_escuela }}</p>
                        </div>
                        {% else %}
                        <div class="card-publicacion-usuario">
                            <h4>Autor: </h4>
                            <!-- VALIDA SI TIENE IMAGEN EN CASO DE NO TENER COLOCA UNO DE BASE -->
                            {% if publicacion.url_imagen_publicacion %}
                                <img src="{{ publicacion.id_actor.url_image_actor.url }}" alt="Imagen Publicación">
                            {% else %}
                                <img src="{% static 'assets/images/AvatarImg.jpg' %}" alt="Imagen Avatar">
                            {% endif %}
                            <p>{{ publicacion.id_actor.nombre_completo }}</p>
                        </div>
                        {% endif %}
                    </a>
                    <br>
                    <h3 style="text-align: left;">Etiqueta</h3>
                    <br>
                    <div class="tag">
                        {% if publicacion.id_Disciplina %}
                            <p>{{ publicacion.id_Disciplina.nombre_disciplina }}</p>
                        {% else %}
                            {% if publicacion.publicacion_aprobada %}
                            <p style="color: greenyellow;">Aprobado</p>
                            {% else %}
                            <p style="color: grey;">Pendiente</p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="escuela-descripcion">
                    <div style="text-align: center;" class="descripcion-seccion">
                        <h1>{{ publicacion.titulo_publicacion }}</h1>
                        <br>
                        <p style="text-align: justify;">{{ publicacion.descripcion_publicacion }}</p>
                    </div>
                </div>
            {% else %}
            <script type="text/javascript">
                window.location.href = "{% url 'index' %}"
            </script>
            {% endif %}
        </main>
        <!----- FOOTER DE LA PÁGINA -->
        {% include 'components/footer.html' %}

    </div>

    <script src="{% static 'js/scriptSliderPublicaciones.js' %}" ></script>

</body>

</html>