{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mi Página Web</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/cardPublicaciones.css' %}">

</head>
<body>
    <div class="ancho">

        <!---- SECCION MENÚ ---->
        <header class="menu">
            <div>
                <h1 style="font-weight: bold;">Catálogo Cultural</h1>
            </div>
            <nav class="menu-opciones">
                <a href="{% url 'index' %}">Inicio</a>
                <a href="{% url 'cartelera' %}">Cartelera</a>
                <a href="{% url 'actores' %}">Actores</a>
                <a href="{% url 'instituciones' %}">Escuelas</a>
                <a href="{% url 'viewSesion' %}">Iniciar Sesión</a>
            </nav>
        </header>

        <!---- SECCION DEL BANNER ---->
        <section class="banner-container">
            <div class="banner-title">
                <h2>Catálogo Cultural</h2>
                <h2>Yucatán</h2>
            </div>
            <img src="{% static 'assets/images/banner.jpg' %}" alt="Banner">
        </section>

        <!---- SECCION DEL TITULO ---->
        <section class="secciones">
            <h1 class="titulo">Catálogo Cultural Del Estado de Yucatán</h1>
            <p>Descubre el talento de Yucatán, conéctate con artistas locales y explora actividades y eventos culturales en cada rincón
            del estado.</p>
        </section>

        <!---- SECCION DONDE SALEN LOS AUTORES ---->
        <section class="container-secciones-autores">
            <div class="secciones2">
                <h2 class="subtitulo">Catálogo Cultural Del Estado de Yucatán</h2>

                <div class="subseccion">
                    <p>Conoce y contacta a los artistas que ofrecen servicios de arte y cultura en el estado de Yucatán.</p>
                    <a href="#" class="buttonTag"> Descubré más </a>
                </div>

                <div class="container-cards">
                    <div class="card">
                        <img src="{% static 'assets/images/Avatar-img.jpg' %}" alt="">

                        <div class="card-container">
                            <p>María José Pat Chable</p>
                            <p style="color: #717070; font-weight: normal;">Artista - Docente</p>
                            <div class="card-button">
                                <a href="#" class="buttonTag"> Visitar Perfil </a>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <img src="{% static 'assets/images/Avatar-img.jpg' %}" alt="">
                    
                        <div class="card-container">
                            <p>María José Pat Chable</p>
                            <p style="color: #717070; font-weight: normal;">Artista</p>
                            <div class="card-button">
                                <a href="#" class="buttonTag"> Visitar Perfil </a>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <img src="{% static 'assets/images/Avatar-img.jpg' %}" alt="">
                    
                        <div class="card-container">
                            <p>María José Pat Chable</p>
                            <p style="color: #717070; font-weight: normal;">Artista</p>
                            <div class="card-button">
                                <a href="#" class="buttonTag"> Visitar Perfil </a>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <img src="{% static 'assets/images/Avatar-img.jpg' %}" alt="">
                    
                        <div class="card-container">
                            <p>María José Pat Chable</p>
                            <p style="color: #717070; font-weight: normal;">Artista</p>
                            <div class="card-button">
                                <a href="#" class="buttonTag"> Visitar Perfil </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!---- SECCION DONDE SALE LAS PUBLICACIONES Y EL FILTRO ---->
        <main class="secciones container-publicaciones-filtro">
            <!---- SECCION DE LAS PUBLICACIONES ---->
            <div class="container-publicaciones">
                <h2>Publicaciones de esta semana</h2>

                <div class="container-cards-publicaciones">

                    <div class="card-publicaciones">
                        <p style="text-align: right;">DD/MM/AAAA</p>
                        <img src="{% static 'assets/images/imgPublicacion1.jpg' %}" alt="Imagen Publicación">
                        <div class="card-publicacion-contenido">
                            <h2>TITULO DE LA PUBLICACIÓN</h2>
                            <div class="card-publicacion-usuario">
                                <img src="{% static 'assets/images/AvatarImg.jpg' %}" alt="Imagen Avatar">
                                <p>Mária José Pat Chable</p>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sequi ratione doloremque dolorum recusandae nulla, necessitatibus voluptatibus veritatis tempora? Porro ab tempore inventore officia ratione provident consequatur quaerat, in necessitatibus!</p>
                            <div class="tag">
                                <p>Arquitectura</p>
                            </div>
                            <div class="button-publicacion">
                                <a href="#" style="font-weight: bold;">LEER MAS</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-publicaciones">
                        <p style="text-align: right;">DD/MM/AAAA</p>
                        <img src="{% static 'assets/images/imgPublicacion2.jpg' %}" alt="Imagen Publicación">
                        <div class="card-publicacion-contenido">
                            <h2>TITULO DE LA PUBLICACIÓN</h2>
                            <div class="card-publicacion-usuario">
                                <img src="{% static 'assets/images/AvatarImg2.jpg' %}" alt="Imagen Avatar">
                                <p>Nombre del usuario</p>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sequi ratione doloremque dolorum
                                recusandae nulla, necessitatibus voluptatibus veritatis tempora? Porro ab tempore inventore officia ratione
                                provident consequatur quaerat, in necessitatibus!</p>
                            <div class="tag">
                                <p>Artes</p>
                            </div>
                            <div class="button-publicacion">
                                <a href="#" style="font-weight: bold;">LEER MAS</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-publicaciones">
                        <p style="text-align: right;">DD/MM/AAAA</p>
                        <img src="{% static 'assets/images/imgPublicacion1.jpg' %}" alt="Imagen Publicación">
                        <div class="card-publicacion-contenido">
                            <h2>TITULO DE LA PUBLICACIÓN</h2>
                            <div class="card-publicacion-usuario">
                                <img src="{% static 'assets/images/AvatarImg.jpg' %}" alt="Imagen Avatar">
                                <p>Nombre del usuario</p>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sequi ratione doloremque dolorum
                                recusandae nulla, necessitatibus voluptatibus veritatis tempora? Porro ab tempore inventore officia ratione
                                provident consequatur quaerat, in necessitatibus!</p>
                            <div class="tag">
                                <p>Música</p>
                            </div>
                            <div class="button-publicacion">
                                <a href="#" style="font-weight: bold;">LEER MAS</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-publicaciones">
                        <p style="text-align: right;">DD/MM/AAAA</p>
                        <img src="{% static 'assets/images/imgPublicacion2.jpg' %}" alt="Imagen Publicación">
                        <div class="card-publicacion-contenido">
                            <h2>TITULO DE LA PUBLICACIÓN</h2>
                            <div class="card-publicacion-usuario">
                                <img src="{% static 'assets/images/AvatarImg2.jpg' %}" alt="Imagen Avatar">
                                <p>Nombre del usuario</p>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sequi ratione doloremque dolorum
                                recusandae nulla, necessitatibus voluptatibus veritatis tempora? Porro ab tempore inventore officia ratione
                                provident consequatur quaerat, in necessitatibus!</p>
                            <div class="tag">
                                <p>Arquitectura</p>
                            </div>
                            <div class="button-publicacion">
                                <a href="#" style="font-weight: bold;">LEER MAS</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="paginacion">
                    <div class="bolita">1</div>
                    <div class="bolita">1</div>
                    <div class="bolita">1</div>
                </div>

            </div>

            <!---- SECCION DEL FILTRO ---->
            <div class="container-filtro">
                <h2>Filtro</h2>
                <div class="container-filtro-opciones">
                    <p>Categorías:</p>
                    <select name="discilinas" id="disciplinas">
                        <option value="0">Todos</option>
                        <option value="1">Música</option>
                        <option value="2">Baile</option>
                        <option value="3">Artes</option>
                    </select>
                </div>

                <div class="container-filtro-opciones">
                    <p>Fecha:</p>
                    <select name="discilinas" id="disciplinas">
                        <option value="0">Todos</option>
                        <option value="1">Esta Semana</option>
                        <option value="2">Ultimas dos semanas</option>
                        <option value="3">Todos</option>
                    </select>
                </div>

                <div class="container-filtro-opciones">
                    <a href="#" class="botones">Aplicar Cambios</a>
                    <a href="#" class="botones">Restablecer</a>
                </div>
            </div>
        </main>

        <!---- SECCION DE LAS ESCUELAS ---->
        <section class="container-secciones-autores">
            <div class="secciones2">
                <h2 class="subtitulo">Escuelas de Arte</h2>
        
                <div class="subseccion">
                    <p>Conoce y contacta a las diferentes Instituciones Academicas de arté que se encuentran ubicadas en el Estado de Yucatán..</p>
                    <a href="#" class="buttonTag"> Descubré más </a>
                </div>
        
                <div class="container-cards">
                    <div class="card">
                        <img src="{% static 'assets/images/Institucion1.jpg' %}" alt="">
        
                        <div class="card-container">
                            <p>Universidad de las Artes de Yucatán</p>
                            <p style="color: #717070; font-weight: normal;">Institución</p>
                            <div class="card-button">
                                <a href="#" class="buttonTag"> Visitar Perfil </a>
                            </div>
                        </div>
                    </div>
        
                    <div class="card">
                        <img src="{% static 'assets/images/Institucion2.png' %}" alt="">
        
                        <div class="card-container">
                            <p>Bellas Artes Yucatán</p>
                            <p style="color: #717070; font-weight: normal;">Institucion</p>
                            <div class="card-button">
                                <a href="#" class="buttonTag"> Visitar Perfil </a>
                            </div>
                        </div>
                    </div>
        
                    <div class="card">
                        <img src="{% static 'assets/images/Institucion3.jpg' %}" alt="">
        
                        <div class="card-container">
                            <p>Palacio de la Música</p>
                            <p style="color: #717070; font-weight: normal;">Institución</p>
                            <div class="card-button">
                                <a href="#" class="buttonTag"> Visitar Perfil </a>
                            </div>
                        </div>
                    </div>
        
                    <div class="card">
                        <img src="{% static 'assets/images/Institucion2.png' %}" alt="">
        
                        <div class="card-container">
                            <p>Bellas Artes Yucatán</p>
                            <p style="color: #717070; font-weight: normal;">Institución</p>
                            <div class="card-button">
                                <a href="#" class="buttonTag"> Visitar Perfil </a>
                            </div>
                        </div>
                    </div>
        
                </div>
            </div>
        </section>

        <!---- FOOTER DE LA FINALIDAD ---->
        <footer>
            <div class="footer-contenido">
                <div class="footer-secciones">
                    <h3>KLUGE LAB</h3>
                </div>
                <div class="footer-secciones">
                    <h3>Cultura Yucateca</h3>
                    <p>Descubre y celebra la riqueza cultural Yucateca.</p>
                </div>
                <div class="footer-secciones">
                    <h3>Enlaces Rápidos</h3>
                    <a href="#">Inicio</a>
                    <a href="#">Publicaciones</a>
                    <a href="#">Actores</a>
                </div>
                <div class="footer-secciones">
                    <h3>Siguenos</h3>
                    <div class="footer-secciones-social">
                        <a href="#">
                            <img src="{% static 'assets/icons/insta-icon.svg' %}" alt="Logo Instagram">
                        </a>
                        <a href="#">
                            <img src="{% static 'assets/icons/face-icon.svg' %}" alt="Logo Facebook">
                        </a>
                        <a href="#">
                            <img src="{% static 'assets/icons/twitter-icon.svg' %}" alt="Logo Twitter">
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
