{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mi Página Web</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

</head>
<body>
    <div class="ancho">
        <header class="menu">
            <div>
                <h1>Catalogo Cultural</h1>
            </div>
            <nav class="menu-opciones">
                <a href="#">Inicio</a>
                <a href="#">Cartelera</a>
                <a href="#">Actores</a>
                <a href="#">Escuelas</a>
                <a href="#">Iniciar Sesión</a>
            </nav>
        </header>

        <section class="banner-container">
            <div class="banner-title">
                <h2>Catálogo Cultural</h2>
                <h2>Yucatán</h2>
            </div>
            <img src="{% static 'assets/images/banner.jpg' %}" alt="Banner">
        </section>
    </div>
</body>
</html>
