{% load static %}

<footer>
    <div class="footer-contenido">
        <div class="footer-secciones">
            <h3>KLUGE LAB</h3>
        </div>
        <div class="footer-secciones">
            <h3>Cultura Yucateca</h3>
            <p>Descubre y celebra la riqueza cultural Yucateca.</p>
        </div>
        <div class="footer-secciones">
            <h3>Enlaces Rápidos</h3>
            <a href="#">Inicio</a>
            <a href="#">Publicaciones</a>
            <a href="#">Actores</a>
        </div>
        <div class="footer-secciones">
            <h3>Siguenos</h3>
            <div class="footer-secciones-social">
                <a href="#">
                    <img src="{% static 'assets/icons/insta-icon.svg' %}" alt="Logo Instagram">
                </a>
                <a href="#">
                    <img src="{% static 'assets/icons/face-icon.svg' %}" alt="Logo Facebook">
                </a>
                <a href="#">
                    <img src="{% static 'assets/icons/twitter-icon.svg' %}" alt="Logo Twitter">
                </a>
            </div>
        </div>
    </div>
</footer>