<!-- MODAL DE LA VENTANA PARA LOS DATOS -->
<div id="myModalPublicacion" class="modal">
    <!-- Contenido del Modal -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Nueva Publicación</h2>
        <form method="POST" enctype="multipart/form-data" action="{% url 'crear_publicacion' %}">
            {% csrf_token %}

            <label for="titulo">
                Titulo de la Publicación:
                <input id="titulo" class="inputs" type="text" name="titulo" placeholder="Titulo" required>
            </label>

            <label for="descripcion">
                Descripción:
                <textarea maxlength="255" rows="5" cols="30" class="inputs" name="descripcion" id="descripcion" required></textarea>
            </label>

            <label for="catagoria">
                Categoria:
                <select name="categoriaPublicacion" id="listaCategoriaPublicacion" required></select>
            </label>

            <div class="subOpciones">
                <label for="tipoPublicacion">
                    Tipo de Publicación:
                </label>
                <br>
                
                <input type="radio" id="publicacionPersonal" name="tipoPublicacion" value="personal" checked required/>
                <label for="tipoPublicacion">Personal</label>

                <input type="radio" id="publicacionInstituto" name="tipoPublicacion" value="institucional" />
                <label for="tipoPublicacion">De alguna escuela</label>
            </div>
            <br>

            <div class="institucion-opcional">
                <label for="institucion-opcional">Institución:</label>
                <br>
                <select name="institucion-opcion" id="listarEscuelas">
                </select>
            </div>

            <div class="previewContainer">
                <span><strong>Imagen de Portada Escuela</strong></span>
                <br>
                <img loading="lazy" id="previewImagen" src="#" alt="Imagen Escuela">
            </div>

            <label for="imagenPortada">
                Imagen de Portada:
                <input
                id="imagenPortada"
                class="inputs"
                type="file"
                name="imagenPortadaPublicacion"
                accept=".jpg, .png, .jpeg"
                required>
            </label>

            <p style="text-align: center;"><strong>Imagenes Extras</strong></p>

            <div class="previewContainer">
                <span><strong>Imagen extra 1: </strong></span>
                <br>
                <img loading="lazy" id="previewImagenExtra1" src="#" alt="Vista previa de la imagen"/>
            </div>

            <label for="imagenExtra1">
                Imagen extra 1:
                <input id="imagenExtra1" name="imagenExtra1" class="inputs" type="file" accept=".jpg, .jpeg, .png">
            </label>

            <div class="previewContainer">
                <span><strong>Imagen extra 2: </strong></span>
                <br>
                <img loading="lazy" id="previewImagenExtra2" src="#" alt="Vista previa de la imagen"/>
            </div>

            <label for="imagenExtra2">
                Imagen extra 2:
                <input id="imagenExtra2" name="imagenExtra2" class="inputs" type="file" accept=".jpg, .jpeg, .png">
            </label>

            <div class="previewContainer">
                <span><strong>Imagen extra 3: </strong></span>
                <br>
                <img loading="lazy" id="previewImagenExtra3" src="#" alt="Vista previa de la imagen"/>
            </div>
            
            <label for="imagenExtra3">
                Imagen extra 3:
                <input id="imagenExtra3" name="imagenExtra3" class="inputs" type="file" accept=".jpg, .jpeg, .png">
            </label>

            <div class="previewContainer">
                <span><strong>Imagen extra 4: </strong></s>
                <br>
                <img loading="lazy" id="previewImagenExtra4" src="#" alt="Vista previa de la imagen"/>
            </div>

            <label for="imagenExtra4">
                Imagen extra 4:
                <input id="imagenExtra4" name="imagenExtra4" class="inputs" type="file" accept=".jpg, .jpeg, .png">
            </label>

            <button type="submit">Publicar</button>
            <button id="btnCancelar" type="reset">Cancelar</button>
        </form>
    </div>
</div>