<!-- MODAL DE LA VENTANA PARA LOS DATOS -->
<div id="myModalProyecto" class="modal">
    <!-- Contenido del Modal -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Nueva Publicación de Evento</h2>
        <form action="#">
            <label for="titulo">
                Titulo del Evento:
                <input id="titulo" type="text" class="inputs" name="titulo" placeholder="Titulo" required>
            </label>

            <label for="descripcion">
                Descripción:
                <textarea rows="5" cols="30" name="descripcion" id="descripcion" class="inputs" required></textarea>
            </label>

            <label for="categoria">
                Categoría:
                <select name="categoria" id="categoria" required>
                    <option value="0">Seleccione la Categoría</option>
                </select>
            </label>

            <label for="clasificacion">
                Clasificación:
                <select name="clasificacion" id="Listaclasificacion" required>
                    <option value="0">Seleccione la Categoría</option>
                </select>
            </label>

            <label for="fechaEvento">
                Fecha del Evento:
                <input id="fechaEvento" type="date" class="inputs" required>
            </label>

            <label for="horaInicioEvento">
                Hora de inicio del evento:
                <input id="horaInicioEvento" name="fecha_inicio" type="time" class="inputs" required>
            </label>

            <label for="eventoPaga" class="inputs">
                ¿El evento es de Paga?
                <input type="checkbox" name="evento_paga" id="eventoPaga" required>
            </label>

            <label class="precioUnitario" for="precioCU">
                Precio por persona:
                <input id="precioCU" type="number" name="precioCU" placeholder="Mayor a $10" class="inputs" min="1">
            </label>

            <div class="subOpciones subOpciones2">
                <label for="puntoVenta">
                    Punto de Venta:
                </label>
                <br>
                <input type="radio" id="puntoVentaPresencial" name="puntoVenta" value="presencial" checked />

                <label for="puntoVentaPresencial">Presencial</label>

                <input type="radio" id="puntoVentaDigital" name="puntoVenta" value="Digital" />
                <label for="puntoVentaDigital">Digital</label>

                <input type="radio" id="puntoVentaDigital" name="puntoVenta" value="Ambas" />
                <label for="puntoVentaDigital">Ambas</label>
            </div>
            <br>

            <label class="URLPuntoVentalbl" for="URLPuntoVenta">
                Enlace del punto de Venta:
                <input 
                placeholder="Ej:https://chat.whatsapp.com/invitacionAlGrupo"
                type="url" 
                id="URLPuntoVenta" 
                name="URLPuntoVenta" 
                class="inputs">
            </label>

            <label for="imagenPortadaEvento">
                Imagen de Portada:
                <input class="inputs" type="file" id="imagenPortadaEvento" name="imagenPortada" accept="imagen/*" required>
            </label>

            <label for="ubicacion">
                Ubicaciones comunes:
                <select name="ubicacion" id="ubicacion" required>
                    <option value="0">Selecciona una ubicación</option>
                </select>
            </label>

            <button type="submit">Publicar</button>
            <button id="btnCancelar2" type="reset" >Cancelar</button>
        </form>
    </div>
</div>