{% load static %}

<header class="menu">
    <div>
        <a href="{% url 'index' %}">
            <h1 style="font-weight: bold;">Catálogo Cultural</h1>
        </a>
    </div>

    <nav class="menu-opciones">
        <a href="{% url 'index' %}">Inicio</a>
        <a href="{% url 'carteleraEventos' %}">Cartelera</a>
        <a href="{% url 'DirectorioActores' %}">Actores</a>
        <a href="{% url 'DirectorioEscuelas' %}">Escuelas</a>
        {% if user.is_authenticated %}
            <a href="{% url 'PerfilActor' actor.pk %}">Perfil</a>
            {% if actor and actor.tipo_usuario == 'administrador' or actor.tipo_usuario == 'ambos' %}
            <a href="{% url 'PanelAdministracion' %}">Administrador</a>
            {% endif %}
            <a href="{% url 'logout' %}"><strong>Cerrar sesión</strong></a>
        {% else %}
            <a href="{% url 'viewSesion' %}">Iniciar sesión</a>
        {% endif %}
    </nav>
    <div class="hamburguesa" onclick="toggleMenu()">☰</div>
</header>

<div class="overlay"></div>

<script>
    // Función para abrir/cerrar el menú
    function toggleMenu() {
        const menu = document.querySelector('.menu');
        const overlay = document.querySelector('.overlay');

        menu.classList.toggle('show'); // Muestra/oculta el menú
        overlay.style.display = menu.classList.contains('show') ? 'block' : 'none'; // Muestra/oculta el overlay
    }

    // Cerrar el menú al hacer clic fuera de él
    document.querySelector('.overlay').addEventListener('click', function() {
        document.querySelector('.menu').classList.remove('show');
        this.style.display = 'none'; // Ocultar overlay
    });
</script>