{% load static %}

<header class="menu">
    <div>
        <a href="{% url 'index' %}">
            <h1 style="font-weight: bold;">Catálogo Cultural</h1>
        </a>
    </div>

    <nav class="menu-opciones">
        <a href="{% url 'index' %}">Inicio</a>
        <a href="{% url 'cartelera' %}">Cartelera</a>
        <a href="{% url 'actores' %}">Actores</a>
        <a href="{% url 'instituciones' %}">Escuelas</a>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}"><strong>Cerrar sesión</strong></a>
    {% else %}
        <a href="{% url 'viewSesion' %}">Iniciar sesión</a>
    {% endif %}
    </nav>
    <div class="hamburguesa" onclick="toggleMenu()">☰</div>
</header>

<script>
    function toggleMenu() {
        document.querySelector('.menu').classList.toggle('show');
    }
</script>