{% load static %}

<div class="container-cards-publicaciones">
    {% for publicacion in publicaciones %}
    <div class="card-publicaciones">
        <p style="text-align: right;">{{ publicacion.fecha_creacion_publicacion }}</p>
       
        <!-- VALIDA SI TIENE IMAGEN EN CASO DE NO TENER COLOCA UNO DE BASE -->
        {% if publicacion.url_imagen_publicacion %}
            <img src="{{ publicacion.url_imagen_publicacion.url }}" alt="Imagen Publicación">
        {% else %}
            <img src="{% static 'assets/images/imgPublicacion1.jpg' %}" alt="Imagen Publicación">
        {% endif %}


        <div class="card-publicacion-contenido">
            <h2>{{ publicacion.titulo_publicacion }}</h2>
            <div class="card-publicacion-usuario">
                <img src="{{ publicacion.id_actor.url_image_actor.url }}" alt="Imagen Avatar">
                <p><a href="{% url 'PerfilActor' publicacion.id_actor.id %}">{{ publicacion.id_actor.nombre_completo }}</a></p>
            </div>
            <p>{{ publicacion.descripcion_publicacion }}</p>
            <div class="tag">
                {% if publicacion.id_Disciplina %}
                    <p>{{ publicacion.id_Disciplina.nombre_disciplina }}</p>
                {% else %}
                    {% if publicacion.publicacion_aprobada %}
                    <p style="color: greenyellow;">Aprobado</p>
                    {% else %}
                    <p style="color: grey;">Pendiente</p>
                    {% endif %}
                {% endif %}
            </div>
            <div class="button-publicacion">
                <a href="{% url 'vistaPublicacion' publicacion.pk %}" style="font-weight: bold;">LEER MÁS</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p>NO HAY PUBLICACIONES POR EL MOMENTO</p>
    {% endfor %}
</div>

<div class="pagination">
    {% if publicaciones.has_previous %}
        <a href="?page={{ publicaciones.previous_page_number }}"><strong>Anterior</strong></a>
    {% endif %}

    <span class="current">Página {{ publicaciones.number }} de {{ publicaciones.paginator.num_pages }}</span>

    {% if publicaciones.has_next %}
        <a href="?page={{ publicaciones.next_page_number }}"><strong>Siguiente</strong></a>
    {% endif %}
</div>
