{% load static %}

<div class="container-cards-publicaciones">

    <div class="card-publicaciones">
        <p style="text-align: right;">{% now "d/m/Y" %}</p>
        <img src="{% static 'assets/images/imgPublicacion1.jpg' %}" alt="Imagen Publicación">
        <div class="card-publicacion-contenido">
            <h2>TITULO DE LA PUBLICACIÓN</h2>
            <div class="card-publicacion-usuario">
                <img src="" alt="Imagen Avatar">
                <p>Mária José Pat Chable</p>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sequi ratione doloremque dolorum recusandae nulla, necessitatibus voluptatibus veritatis tempora? Porro ab tempore inventore officia ratione provident consequatur quaerat, in necessitatibus!</p>
            <div class="tag">
                <p>Arquitectura</p>
            </div>
            <div class="button-publicacion">
                <a href="{% url 'vistaPublicacion' %}" style="font-weight: bold;">LEER MAS</a>
            </div>
        </div>
    </div>

    <div class="card-publicaciones">
        <p style="text-align: right;">{% now "d/m/Y" %}</p>
        <img src="{% static 'assets/images/imgPublicacion2.jpg' %}" alt="Imagen Publicación">
        <div class="card-publicacion-contenido">
            <h2>TITULO DE LA PUBLICACIÓN</h2>
            <div class="card-publicacion-usuario">
                <img src="{% static 'assets/images/AvatarImg2.jpg' %}" alt="Imagen Avatar">
                <p>Nombre del usuario</p>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sequi ratione doloremque dolorum
                recusandae nulla, necessitatibus voluptatibus veritatis tempora? Porro ab tempore inventore officia ratione
                provident consequatur quaerat, in necessitatibus!</p>
            <div class="tag">
                <p>Artes</p>
            </div>
            <div class="button-publicacion">
                <a href="#" style="font-weight: bold;">LEER MAS</a>
            </div>
        </div>
    </div>

    <div class="card-publicaciones">
        <p style="text-align: right;">{% now "d/m/Y" %}</p>
        <img src="{% static 'assets/images/imgPublicacion1.jpg' %}" alt="Imagen Publicación">
        <div class="card-publicacion-contenido">
            <h2>TITULO DE LA PUBLICACIÓN</h2>
            <div class="card-publicacion-usuario">
                <img src="{% static 'assets/images/AvatarImg.jpg' %}" alt="Imagen Avatar">
                <p>Nombre del usuario</p>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sequi ratione doloremque dolorum
                recusandae nulla, necessitatibus voluptatibus veritatis tempora? Porro ab tempore inventore officia ratione
                provident consequatur quaerat, in necessitatibus!</p>
            <div class="tag">
                <p>Música</p>
            </div>
            <div class="button-publicacion">
                <a href="#" style="font-weight: bold;">LEER MAS</a>
            </div>
        </div>
    </div>

    <div class="card-publicaciones">
        <p style="text-align: right;">{% now "d/m/Y" %}</p>
        <img src="{% static 'assets/images/imgPublicacion2.jpg' %}" alt="Imagen Publicación">
        <div class="card-publicacion-contenido">
            <h2>TITULO DE LA PUBLICACIÓN</h2>
            <div class="card-publicacion-usuario">
                <img src="{% static 'assets/images/AvatarImg2.jpg' %}" alt="Imagen Avatar">
                <p>Nombre del usuario</p>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sequi ratione doloremque dolorum
                recusandae nulla, necessitatibus voluptatibus veritatis tempora? Porro ab tempore inventore officia ratione
                provident consequatur quaerat, in necessitatibus!</p>
            <div class="tag">
                <p>Arquitectura</p>
            </div>
            <div class="button-publicacion">
                <a href="#" style="font-weight: bold;">LEER MAS</a>
            </div>
        </div>
    </div>
</div>