{% load static %}

<section class="container-secciones-autores">
    <div class="secciones2">
        <h2 class="subtitulo">Escuelas de Arte</h2>

        <div class="subseccion">
            <p>Conoce y contacta a las diferentes Instituciones Academicas de arté que se encuentran ubicadas en el Estado de Yucatán..</p>
            <a href="{% url 'instituciones' %}" class="buttonTag"> Descubré más </a>
        </div>

        <div class="swiper">
            <div class="swiper-container">
                <div class="swiper-wrapper">

                    <div class="swiper-slide card">
                        <img src="{% static 'assets/images/Institucion1.jpg' %}" alt="">
        
                        <div class="card-container">
                            <p>Universidad de las Artes de Yucatán</p>
                            <p style="color: #717070; font-weight: normal;">Institución</p>
                            <div class="card-button">
                                <a href="#" class="buttonTag"> Visitar Perfil </a>
                            </div>
                        </div>
                    </div>
        
                    <div class="swiper-slide card">
                        <img src="{% static 'assets/images/Institucion2.png' %}" alt="">
        
                        <div class="card-container">
                            <p>Bellas Artes Yucatán</p>
                            <p style="color: #717070; font-weight: normal;">Institucion</p>
                            <div class="card-button">
                                <a href="#" class="buttonTag"> Visitar Perfil </a>
                            </div>
                        </div>
                    </div>
        
                    <div class="swiper-slide card">
                        <img src="{% static 'assets/images/Institucion3.jpg' %}" alt="">
        
                        <div class="card-container">
                            <p>Palacio de la Música</p>
                            <p style="color: #717070; font-weight: normal;">Institución</p>
                            <div class="card-button">
                                <a href="#" class="buttonTag"> Visitar Perfil </a>
                            </div>
                        </div>
                    </div>
        
                    <div class="swiper-slide card">
                        <img src="{% static 'assets/images/Institucion2.png' %}" alt="">
        
                        <div class="card-container">
                            <p>Bellas Artes Yucatán</p>
                            <p style="color: #717070; font-weight: normal;">Institución</p>
                            <div class="card-button">
                                <a href="#" class="buttonTag"> Visitar Perfil </a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide card">
                        <img src="{% static 'assets/images/Institucion1.jpg' %}" alt="">
        
                        <div class="card-container">
                            <p>Universidad de las Artes de Yucatán</p>
                            <p style="color: #717070; font-weight: normal;">Institución</p>
                            <div class="card-button">
                                <a href="#" class="buttonTag"> Visitar Perfil </a>
                            </div>
                        </div>
                    </div>
        
                    <div class="swiper-slide card">
                        <img src="{% static 'assets/images/Institucion2.png' %}" alt="">
        
                        <div class="card-container">
                            <p>Bellas Artes Yucatán</p>
                            <p style="color: #717070; font-weight: normal;">Institucion</p>
                            <div class="card-button">
                                <a href="#" class="buttonTag"> Visitar Perfil </a>
                            </div>
                        </div>
                    </div>
        
                    <div class="swiper-slide card">
                        <img src="{% static 'assets/images/Institucion3.jpg' %}" alt="">
        
                        <div class="card-container">
                            <p>Palacio de la Música</p>
                            <p style="color: #717070; font-weight: normal;">Institución</p>
                            <div class="card-button">
                                <a href="#" class="buttonTag"> Visitar Perfil </a>
                            </div>
                        </div>
                    </div>
        
                    <div class="swiper-slide card">
                        <img src="{% static 'assets/images/Institucion2.png' %}" alt="">
        
                        <div class="card-container">
                            <p>Bellas Artes Yucatán</p>
                            <p style="color: #717070; font-weight: normal;">Institución</p>
                            <div class="card-button">
                                <a href="#" class="buttonTag"> Visitar Perfil </a>
                            </div>
                        </div>
                    </div>
        
                </div>
            </div>

            <!-- Botones de navegacion -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>

        </div>
    </div>
</section>