{% load static %}

<section class="container-secciones-autores">
    <div class="secciones2">
        <h2 class="subtitulo">Catálogo Cultural Del Estado de Yucatán</h2>

        <div class="subseccion">
            <p>Conoce y contacta a los artistas que ofrecen servicios de arte y cultura en el estado de Yucatán.</p>
            <a href="{% url 'actores' %}" class="buttonTag"> Descubré más </a>
        </div>

        <div class="swiper">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide ">
                        <img src="{% static 'assets/images/Avatar-img.jpg' %}" alt="">
        
                        <div class="card-container">
                            <p>María José Pat Chable</p>
                            <p style="color: #717070; font-weight: normal;">Artista - Docente</p>
                            <div class="card-button">
                                <a href="#" class="buttonTag"> Visitar Perfil </a>
                            </div>
                        </div>
                    </div>
        
                    <div class="swiper-slide ">
                        <img src="{% static 'assets/images/Avatar-img.jpg' %}" alt="">
                    
                        <div class="card-container">
                            <p>María José Pat Chable</p>
                            <p style="color: #717070; font-weight: normal;">Artista</p>
                            <div class="card-button">
                                <a href="#" class="buttonTag"> Visitar Perfil </a>
                            </div>
                        </div>
                    </div>
        
                    <div class="swiper-slide ">
                        <img src="{% static 'assets/images/Avatar-img.jpg' %}" alt="">
                    
                        <div class="card-container">
                            <p>María José Pat Chable</p>
                            <p style="color: #717070; font-weight: normal;">Artista</p>
                            <div class="card-button">
                                <a href="#" class="buttonTag"> Visitar Perfil </a>
                            </div>
                        </div>
                    </div>
        
                    <div class="swiper-slide ">
                        <img src="{% static 'assets/images/Avatar-img.jpg' %}" alt="">
                    
                        <div class="card-container">
                            <p>María José Pat Chable</p>
                            <p style="color: #717070; font-weight: normal;">Artista</p>
                            <div class="card-button">
                                <a href="#" class="buttonTag"> Visitar Perfil </a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide ">
                        <img src="{% static 'assets/images/Avatar-img.jpg' %}" alt="">
        
                        <div class="card-container">
                            <p>María José Pat Chable</p>
                            <p style="color: #717070; font-weight: normal;">Artista - Docente</p>
                            <div class="card-button">
                                <a href="#" class="buttonTag"> Visitar Perfil </a>
                            </div>
                        </div>
                    </div>
        
                    <div class="swiper-slide ">
                        <img src="{% static 'assets/images/Avatar-img.jpg' %}" alt="">
                    
                        <div class="card-container">
                            <p>María José Pat Chable</p>
                            <p style="color: #717070; font-weight: normal;">Artista</p>
                            <div class="card-button">
                                <a href="#" class="buttonTag"> Visitar Perfil </a>
                            </div>
                        </div>
                    </div>
        
                    <div class="swiper-slide ">
                        <img src="{% static 'assets/images/Avatar-img.jpg' %}" alt="">
                    
                        <div class="card-container">
                            <p>María José Pat Chable</p>
                            <p style="color: #717070; font-weight: normal;">Artista</p>
                            <div class="card-button">
                                <a href="#" class="buttonTag"> Visitar Perfil </a>
                            </div>
                        </div>
                    </div>
        
                    <div class="swiper-slide ">
                        <img src="{% static 'assets/images/Avatar-img.jpg' %}" alt="">
                    
                        <div class="card-container">
                            <p>María José Pat Chable</p>
                            <p style="color: #717070; font-weight: normal;">Artista</p>
                            <div class="card-button">
                                <a href="#" class="buttonTag"> Visitar Perfil </a>
                            </div>
                        </div>
                    </div>
        
                </div>
            </div>

            <!-- Botones de navegacion -->
             <div class="swiper-button-next"></div>
             <div class="swiper-button-prev"></div>

        </div>
    </div>
</section>

